{% extends 'base.html' %}
{% load static %}
{% load generic %}

{% block extra_css %}

<style>
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background: linear-gradient(90deg, rgba(106,174,255,1) 1%, rgba(127,155,254,1) 30%, rgba(166,122,253,1) 70%);
}

input:disabled + .slider {
    cursor: not-allowed;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7F9BFE;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dataTables_length{
    display: none !important;
}

</style>

{% endblock %}

{% block page_content %}

<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card mt-10 mb-5 mb-xl-8">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8 text-right" role="tablist">
                    <!--begin:::Tab item-->
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#users_tab" aria-selected="true" role="tab">Users</a>
                    </li>
                    <!--end:::Tab item-->
                    <!--begin:::Tab item-->
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#vendors_tab" aria-selected="false" tabindex="-1" role="tab">Vendors</a>
                    </li>
                    <!--end:::Tab item-->
                </ul>
            </div>
            <!--end::Header-->

            <div class="tab-content" id="myTabContent">
                <!--begin:::Tab pane-->
                <div class="tab-pane fade show active" id="users_tab" role="tabpanel">

                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold fs-3 mb-1">Users Management</span>
                            <span class="text-muted mt-1 fw-semibold fs-7">Manage and Control the Application Users.</span>
                        </h3>
        
                        <div class="card-title">
                            <!--begin::Search-->
                            <div class="d-flex align-items-center position-relative my-1">
                                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Users" />
                            </div>
                            <!--end::Search-->
                        </div>

                    </div>
                    
                    <!--begin::Body-->
                        <div class="card-body py-3">
                            <!--begin::Table container-->
                            <div class="table-responsive">
                                <!--begin::Table-->
                                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" id="table1">
                                    <!--begin::Table head-->
                                    <thead>
                                        <tr class="fw-bold text-muted">
                                            <th class="min-w-50px">S.No</th>
                                            <th class="min-w-150px">Profile Image</th>
                                            <th class="min-w-100px">Name</th>
                                            <th class="min-w-100px">Email</th>
                                            <th class="min-w-150px">Contact</th>
                                            <th class="min-w-100px">Gender</th>
                                            <th class="min-w-100px">Type</th>
                                            <th class="min-w-100px">Interest</th>
                                            <th class="min-w-100px">Is Verified?</th>
                                            <th class="min-w-100px">Status</th>
                                        </tr>
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody>
                                        {% for user, interest in all_users %}
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                                    <span class="fw-semibold  d-block fs-7">{{ forloop.counter }}</span>
                                                </td>

                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="symbol symbol-45px me-5">
                                                            <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'assets/media/misc/image.png' %}{% endif %}" alt="">
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>
                                                    <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                                    <span class="fw-semibold  d-block fs-7">{{ user.get_name }}</span>
                                                </td>

                                                <td>
                                                    <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                                    <span class="fw-semibold  d-block fs-7">{{ user.email }}</span>
                                                </td>

                                                <td>
                                                    <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                                    <span class="fw-semibold  d-block fs-7">+{{ user.country_code }}-{{ user.contact }}</span>
                                                </td>

                                                <td>
                                                    <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                                    <span class="fw-semibold  d-block fs-7">{{ user.get_gender_display }}</span>
                                                </td>

                                                <td>
                                                    <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                                    <span class="fw-semibold  d-block fs-7">{{ user.get_is_type_display }}</span>
                                                </td>
                                                
                                                <td>
                                                    {% if interest %}
                                                        {% for data in interest %}
                                                            {% for category in data.i_category.all %}
                                                                <span class="fw-bold fs-6 text-gray-800">{{ category }}</span>,
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <span class="fw-bold fs-6 text-gray-800">---</span>
                                                    {% endif %}
                                                </td>

                                                {% if user.is_verified %}
                                                    <td>
                                                        <span class="fw-semibold  d-block fs-7" style="color:#50cd89">Yes</span>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <span class="fw-semibold  d-block fs-7" style="color:#f1416c">No</span>
                                                    </td>
                                                {% endif %}

                                                {% if not user.is_verified %}
                                                <td>
                                                    <div class="justify-content-between flex-shrink-0">
                                                        <form method="POST" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <label class="switch">
                                                                <input type="checkbox" disabled>
                                                                <span class="slider round" disabled data-toggle="tooltip" data-placement="top" title="Unverified Users can't be activated."></span>
                                                            </label>
                                                            <input type="hidden" name="status" value="False">
                                                            <input type="hidden" name="user_id" value="{{ user.id }}">
                                                        </form>
                                                    </div>
                                                </td>
                                                
                                                {% elif user.is_active %}
                                                    <td>
                                                        <div class="justify-content-between flex-shrink-0">
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <label class="switch">
                                                                    <input type="checkbox" checked>
                                                                    <span class="slider round"></span>
                                                                </label>
                                                                <input type="hidden" name="status" value="False">
                                                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                                            </form>
                                                        </div>
                                                </td>
                                                {% else %}
                                                    <td>
                                                        <div class="justify-content-between flex-shrink-0">
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <label class="switch">
                                                                    <input type="checkbox">
                                                                    <span class="slider round"></span>
                                                                </label>
                                                                <input type="hidden" name="status" value="True">
                                                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                                            </form>
                                                        </div>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div>
                            <!--end::Table container-->
                        </div>
                    <!--begin::Body-->
                </div>
                <!--end:::Tab pane-->

                <!--begin:::Tab pane-->
                <div class="tab-pane fade" id="vendors_tab" role="tabpanel">
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold fs-3 mb-1">Vendor Management</span>
                            <span class="text-muted mt-1 fw-semibold fs-7">Manage and Control the Registered Businesses Vendors.</span>
                        </h3>
        
                        <div class="card-title">
                            <!--begin::Search-->
                            <div class="d-flex align-items-center position-relative my-1">
                                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Vendors" />
                            </div>
                            <!--end::Search-->
                        </div>

                    </div>
                    
                    <!--begin::Body-->
                        <div class="card-body py-3">
                            <!--begin::Table container-->
                            <div class="table-responsive">
                                <!--begin::Table-->
                                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" id="table2">
                                    <!--begin::Table head-->
                                    <thead>
                                        <tr class="fw-bold text-muted">
                                            <th class="min-w-50px">S.No</th>
                                            <th class="min-w-150px">Profile Image</th>
                                            <th class="min-w-100px">Name</th>
                                            <th class="min-w-100px">Email</th>
                                            <th class="min-w-150px">Contact</th>
                                            <th class="min-w-150px">Business Name</th>
                                            <th class="min-w-100px">Category</th>
                                            <th class="min-w-100px">Is Verified?</th>
                                            <th class="min-w-100px">Status</th>
                                            <!-- <th class="min-w-100px">Actions</th> -->
                                        </tr>
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody>
                                        {% for vendor, business in all_vendors %}
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                                    <span class="fw-semibold  d-block fs-7">{{ forloop.counter }}</span>
                                                </td>

                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="symbol symbol-45px me-5">
                                                            <img src="{% if vendor.profile_picture %}{{ vendor.profile_picture.url }}{% else %}{% static 'assets/media/misc/image.png' %}{% endif %}" alt="">
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>
                                                    <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                                    <span class="fw-semibold  d-block fs-7">{{ vendor.get_name }}</span>
                                                </td>

                                                <td>
                                                    <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                                    <span class="fw-semibold  d-block fs-7">{{ vendor.email }}</span>
                                                </td>

                                                <td>
                                                    <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                                    <span class="fw-semibold  d-block fs-7">{{ vendor.country_code }}-{{ vendor.contact }}</span>
                                                </td>

                                                <td>
                                                    {% if business %}
                                                        {% for data in business %}
                                                            <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                                            <span class="fw-semibold  d-block fs-7">{{ data.name }}</span>
                                                        {% endfor %}
                                                    {% else %}
                                                        <span class="fw-bold fs-6 text-gray-800">---</span>
                                                    {% endif %}
                                                </td>
                                                
                                                <td>
                                                    {% if business %}
                                                        {% for data in business %}
                                                            <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                                            <span class="fw-semibold  d-block fs-7">{{ data.i_category.name }}</span>
                                                        {% endfor %}
                                                    {% else %}
                                                        <span class="fw-bold fs-6 text-gray-800">---</span>
                                                    {% endif %}
                                                </td>

                                                {% if vendor.is_verified %}
                                                    <td>
                                                        <span class="fw-semibold  d-block fs-7" style="color:#50cd89">Yes</span>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <span class="fw-semibold  d-block fs-7" style="color:#f1416c">No</span>
                                                    </td>
                                                {% endif %}

                                                {% if not vendor.is_verified %}
                                                <td>
                                                    <div class="justify-content-between flex-shrink-0">
                                                        <form method="POST" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <label class="switch">
                                                                <input type="checkbox" disabled>
                                                                <span class="slider round" disabled data-toggle="tooltip" data-placement="top" title="Unverified Vendors can't be activated."></span>
                                                            </label>
                                                            <input type="hidden" name="status" value="False">
                                                            <input type="hidden" name="user_id" value="{{ vendor.id }}">
                                                        </form>
                                                    </div>
                                                </td>
                                                
                                                {% elif vendor.is_active %}
                                                    <td>
                                                        <div class="justify-content-between flex-shrink-0">
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <label class="switch">
                                                                    <input type="checkbox" checked>
                                                                    <span class="slider round"></span>
                                                                </label>
                                                                <input type="hidden" name="status" value="False">
                                                                <input type="hidden" name="user_id" value="{{ vendor.id }}">
                                                            </form>
                                                        </div>
                                                </td>
                                                {% else %}
                                                    <td>
                                                        <div class="justify-content-between flex-shrink-0">
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <label class="switch">
                                                                    <input type="checkbox">
                                                                    <span class="slider round"></span>
                                                                </label>
                                                                <input type="hidden" name="status" value="True">
                                                                <input type="hidden" name="user_id" value="{{ vendor.id }}">
                                                            </form>
                                                        </div>
                                                    </td>
                                                {% endif %}

                                                
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div>
                            <!--end::Table container-->
                        </div>
                    <!--begin::Body-->
                </div>
                <!--end:::Tab pane-->
            </div>

            
           
        </div>
    </div>
    <!--end::Content container-->
</div>


{% endblock %}

{% block extra_script %}

<script src="{% static 'assets/js/custom/apps/user-management/users/list/table.js' %}"></script>

<script>
    $("input[type='checkbox']").on('change', function(){
        if(this.checked){
            $(this).closest("form").submit();
        }
        else{
            $(this).closest("form").submit();
        }
    })
</script>
{% endblock %}