{% extends 'base.html' %}
{% load static %}
{% load generic %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'stories/css/fontawesome.css' %}">

<style>
	.catalogue{
		position: relative;
	}

	.catalogue img{
		width: 100%;
		width: -moz-available;          
		width: -webkit-fill-available; 
		width: fill-available;
    	height: 200px;
		cursor: pointer;
		border: 3px solid var(--kt-body-bg);
    	box-shadow: var(--kt-box-shadow);
	}

	.catalogue a{
		display: flex;
		position: absolute;
		left: 0;
		right: 0;
		top: 12px;
		bottom: 0;
		/* background-color: transparent; */
		color: white;
		align-items: center;
		justify-content: center;
		visibility: hidden;
	}

	.catalogue a p{
		cursor: pointer;
	}

	.catalogue:hover a{
		visibility: visible;
		background-color: rgba(0, 0, 0, 0.4);
	}

	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 25px;
		left: calc(100% - 70px);
		/* right: 0; */
		top: 60px;
		/* bottom: 0; */
		z-index: 1;
	}

	/* Hide default HTML checkbox */
	.switch input {
	opacity: 0;
	width: 0;
	height: 0;
	}

	/* The slider */
	.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 20px;
		width: 20px;
		left: 2px;
		bottom: 3px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked + .slider {
		background: linear-gradient(90deg, rgba(106,174,255,1) 1%, rgba(127,155,254,1) 30%, rgba(166,122,253,1) 70%);
	}

	input:focus + .slider {
	box-shadow: 0 0 1px #7F9BFE;
	}

	input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
	border-radius: 34px;
	}

	.slider.round:before {
	border-radius: 50%;
	}

</style>

{% endblock %}

{% block page_content %}
<!-- <meta http-equiv="refresh" content="60"> -->

<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
	<!--begin::Toolbar container-->
	<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
		<!--begin::Page title-->
		<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
			<!--begin::Title-->
			<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Business Catalogue</h1>
			<!--end::Title-->
		</div>
		<!--end::Page title-->
	</div>
	<!--end::Toolbar container-->
</div>

<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-xxl">
		<!--begin::Navbar-->
			{% include "businesses/business_profile.html" %}
		<!--end::Navbar-->
		
		<!--begin::details View-->
		<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
			<!--begin::Card header-->
			<div class="card-header cursor-pointer">
				<!--begin::Card title-->
				<div class="card-title m-0">
					<h3 class="fw-bold m-0">Business Catalogue
						<span class="text-muted mt-1 mx-5 fw-semibold fs-7">Add upto max 10 images.</span>
					</h3>
				</div>
				<!--end::Card title-->
				
			</div>
			<!--begin::Card header-->
			<!--begin::Card body-->
			<div class="card-body">
				{% if business_catalogue  %}
				<div class="row">
					<!--begin::Col-->
					{% for media in business_catalogue %}
						<div class="col-sm-3 col-md-3">
							{% if media.is_active %}
								<form method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<label class="switch">
										<input type="checkbox" checked>
										<span class="slider round"></span>
									</label>
									<input type="hidden" name="status" value="False">
									<input type="hidden" name="cat_id" value="{{ media.id }}">
								</form>

							{% else %}
								<form method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<label class="switch">
										<input type="checkbox">
										<span class="slider round"></span>
									</label>
									<input type="hidden" name="status" value="True">
									<input type="hidden" name="cat_id" value="{{ media.id }}">
									<input type="hidden" name="pk" value="{{ pk }}">
									
								</form>

							{% endif %}

							<div class="catalogue">
								<img class="mt-4" src="{% if media.image %}{{ media.image.url }}{% else %}{% static 'assets/media/misc/image.png' %}{% endif %}" alt="image">
									
								<a>
									<p onclick="location.assign('/businesses/edit-business-catalogue-by-admin/{{ media.id }}/{{business.id}}/')" style="margin-left: 10px;" data-toggle="tooltip" data-placement="top" title="Edit Image"><i class="fal fa-edit fs-1"></i></p>
									<p onclick="location.assign('/businesses/delete-business-catalogue-by-admin/{{ media.id }}/{{business.id}}/')" style="margin-left: 10px;" data-toggle="tooltip" data-placement="top" title="Remove Image"><i class="fal fa-trash fs-1"></i></p>
								</a>
							</div>

						</div>
					{% endfor %}
					<!--end::Col-->
				</div>
				{% else %}

					<span class="fs-5 text-center d-block mt-5 mb-5">No Catalogue Found.</span>

				{% endif %}
			</div>
			<!--end::Card body-->
		</div>
		<!--end::details View-->

	</div>
	<!--end::Content container-->
</div>

{% endblock %}

{% block extra_script %}

<script>
    $("input[type='checkbox']").on('change', function(){
        if(this.checked){
            $(this).closest("form").submit();
        }
        else{
            $(this).closest("form").submit();
        }
    })
</script>

{% endblock %}