{% extends 'base.html' %}
{% load static %}
{% load generic %}

{% block extra_css %}

<style>
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background: linear-gradient(90deg, rgba(106,174,255,1) 1%, rgba(127,155,254,1) 30%, rgba(166,122,253,1) 70%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #7F9BFE;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

</style>

{% endblock %}

{% block page_content %}
<!-- <meta http-equiv="refresh" content="60"> -->

<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
	<!--begin::Toolbar container-->
	<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
		<!--begin::Page title-->
		<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
			<!--begin::Title-->
			<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Business Schedule</h1>
			<!--end::Title-->
		</div>
		<!--end::Page title-->
	</div>
	<!--end::Toolbar container-->
</div>

<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-xxl">
		<!--begin::Navbar-->
		{% include "businesses/business_profile.html" %}
		<!--end::Navbar-->
		<!--begin::details View-->
		<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
			<!--begin::Card header-->
			<div class="card-header cursor-pointer">
				<!--begin::Card title-->
				<div class="card-title m-0">
					<h3 class="fw-bold m-0">Business Schedule</h3>
				</div>
				<!--end::Card title-->
				{% if business_schedule  %}
				<!--begin::Action-->
				<a href="{% url 'edit_business_schedule_by_admin' pk=business.id %}" class="btn btn-primary align-self-center">Edit Business Schedule</a>
				<!--end::Action-->
				{% endif %}
			</div>
			<!--begin::Card header-->
			<!--begin::Card body-->
			<div class="card-body p-9">
				{% if business_schedule  %}

					{% for day in business_schedule %}
						{% if day.start_time %}
							<!--begin::Row-->
							<div class="row mb-7">
								<!--begin::Label-->
								<label class="col-lg-4 fw-semibold text-muted">{{ day.i_day.name }}</label>
								<!--end::Label-->
								<!--begin::Col-->
								<div class="col-lg-3">
									<span class="fw-bold fs-6 text-gray-800 me-2">{{ day.start_time|time:"h:i a" }} - {{ day.end_time|time:"h:i a" }}</span>
									
								</div>
								<!--end::Col-->
								<div class="col-lg-2">
									{% if day.is_active %}
										<span class="badge badge-success">Open</span>
									{% else %}
										<span class="badge badge-danger">Closed</span>
									{% endif %}
								</div>
								<div class="col-lg-3">
									{% if day.is_active %}
									<div class="justify-content-between flex-shrink-0">
										<form method="POST" enctype="multipart/form-data">
											{% csrf_token %}
											<label class="switch">
												<input type="checkbox" checked>
												<span class="slider round"></span>
											</label>
											<input type="hidden" name="status" value="False">
											<input type="hidden" name="schedule_id" value="{{ day.id }}">
										</form>
									</div>
									{% else %}
									<div class="justify-content-between flex-shrink-0">
										<form method="POST" enctype="multipart/form-data">
											{% csrf_token %}
											<label class="switch">
												<input type="checkbox">
												<span class="slider round"></span>
											</label>
											<input type="hidden" name="status" value="True">
											<input type="hidden" name="schedule_id" value="{{ day.id }}">
										</form>
									</div>
									{% endif %}
								</div>
							</div>
							<!--end::Row-->
						{% endif %}
					{% endfor %}

				{% else %}

					<span class="fs-5 text-center d-block mt-5 mb-5">No Schedule Found.</span>

				{% endif %}
			</div>
			<!--end::Card body-->
		</div>
		<!--end::details View-->
	</div>
	<!--end::Content container-->
</div>

{% endblock %}

{% block extra_script %}
<script>
    $("input[type='checkbox']").on('change', function(){
        if(this.checked){
            $(this).closest("form").submit();
        }
        else{
            $(this).closest("form").submit();
        }
    })
</script>
{% endblock %}