{% extends 'base.html' %}
{% load static %}
{% load generic %}

{% block extra_css %}

<style>
.dataTables_length{
    margin: 10px 0px 0px 25px;
}

#kt_table_users_length{
    display: none !important;
}
</style>

{% endblock %}

{% block page_content %}

<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card mt-10 mb-5 mb-xl-8">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold fs-3 mb-1">Brands</span>
                    <span class="text-muted mt-1 fw-semibold fs-7">Manage and Control the Brands.</span>
                </h3>

                <div class="card-title">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Brands" />
                    </div>
                    <!--end::Search-->
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body py-3">
                <!--begin::Table container-->
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" id="kt_table_users">
                        <!--begin::Table head-->
                        <thead>
                            <tr class="fw-bold text-muted">
                                <th class="min-w-50px">S.No</th>
                                <th class="min-w-100px">Image</th>
                                <th class="min-w-100px">Name</th>
                                <th class="min-w-100px">Founded Year</th>
                                <th class="min-w-100px">Founded Country</th>
                                <th class="min-w-100px">Website</th>
                                <th class="min-w-100px">Status</th>
                                <th class="min-w-100px">Actions</th>
                            </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody>
                            {% for brand in brands_list %}
                                <tr>
                                    <td>
                                        <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                        <span class="fw-semibold  d-block fs-7">{{ forloop.counter }}</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="symbol symbol-45px me-5">
                                                <img src="{% if brand.image %}{{ brand.image.url }}{% else %}{% static 'assets/media/misc/image.png' %}{% endif %}" alt="">
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                        <span class="fw-semibold  d-block fs-7">{{ brand.name }}</span>
                                    </td>

                                    <td>
                                        <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                        <span class="fw-semibold  d-block fs-7">{{ brand.founded_year }}</span>
                                    </td>

                                    <td>
                                        <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                        <span class="fw-semibold  d-block fs-7">{{ brand.founded_country }}</span>
                                    </td>

                                    <td>
                                        <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                        <span class="fw-semibold  d-block fs-7">{{ brand.website }}</span>
                                    </td>
                                    
                                    {% if brand.is_active %}
                                        <td>
                                            <span class="fw-semibold  d-block fs-7" style="color:#50cd89">Active</span>
                                        </td>
                                    {% else %}
                                        <td>
                                            <span class="fw-semibold  d-block fs-7" style="color:#f1416c">In-Active</span>
                                        </td>
                                    {% endif %}
                                    <td>
                                        <div class="justify-content-between flex-shrink-0">
                                            <a href="{{ brand.get_edit_url }}" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                <i data-feather="edit" data-toggle="tooltip" data-placement="top" title="Edit {{ brand.name }}"></i>
                                            </a>
                                            <a href="{{ brand.get_delete_url }}" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                <i data-feather="trash" data-toggle="tooltip" data-placement="top" title="Delete {{ brand.name }}"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Table container-->
            </div>
            <!--begin::Body-->
        </div>
    </div>
    <!--end::Content container-->
</div>


{% endblock %}

{% block extra_script %}

<script src="{% static 'assets/js/custom/apps/user-management/users/list/table.js' %}"></script>

{% endblock %}