{% load static %}
{% load generic %}
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:100%;background-color:#f0f2f4">
  <tbody>
  <tr>
      <td style="vertical-align:top;background-color:#f0f2f4">
          <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:600px">
              <tbody>
              <tr>
                  <td style="text-align:center;padding-top:40px;padding-bottom:20px">
                      <a href="portal.huburway.com" target="_blank" data-saferedirecturl="portal.huburway.com">
                          <img src="https://hubur-media.s3.ap-southeast-1.amazonaws.com/media/profile_pictures/logo-color.png" style="width:150px;height:auto;border-width:0;border-style:solid" class="CToWUd" data-bit="iit">
                      </a>
                  </td>
              </tr>
              <tr>
                  <td style="background-color:#ffffff;padding-bottom:40px">
                      <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:520px">
                          <tbody>
                          <tr>
                              <td style="padding-top:40px;font-family:helvetica,arial;font-size:14px;line-height:20px;color:#333333">
                                  Hi {{ business.first_name }} {{ business.last_name }},
                              </td>
                          </tr>
                          <tr>
                              <td style="padding-top:12px;font-family:helvetica,arial;font-size:14px;line-height:20px;color:#333333">
                                    We are writing to let you know that your request for claiming  <a style="text-decoration:underline;cursor:pointer;" href="{{ business.i_business.address }}"> <strong>{{ business.i_business.name }}</strong></a> has been approved. 
                                    Please click the link below to onboard with us:
                              </td>
                          </tr>
                          <tr>
                              <td align="center" style="padding-top:20px">
                                  <table border="0" cellpadding="0" cellspacing="0" align="center">
                                      <tbody>
                                      <tr>
                                          <td style="padding-left:30px;padding-top:10px;padding-bottom:10px;background-color:#7F9BFE;border-top-left-radius:4px;border-bottom-left-radius:4px">
                                              &nbsp;
                                          </td>
                                          <td style="background-color:#7F9BFE;font-family:helvetica,arial;font-size:16px;line-height:24px;font-weight:700;color:#ffffff;padding-top:10px;padding-bottom:10px">
                                                  <a style="color:#ffffff;text-decoration:none;cursor:pointer;" href="{{ link }}">
                                                      Click here to register
                                                  </a>
                                          </td>
                                          <td style="padding-right:30px;padding-top:10px;padding-bottom:10px;background-color:#7F9BFE;border-top-right-radius:4px;border-bottom-right-radius:4px">
                                              &nbsp;
                                          </td>
                                      </tr>
                                      </tbody>
                                  </table>
                              </td>
                          </tr>

                          <tr>
                            <td style="padding-top:30px;font-family:helvetica,arial;font-size:14px;line-height:20px;color:#333333">
                                
                            </td>
                          </tr>
                          <tr>
                              <td style="padding-top:12px;font-family:helvetica,arial;font-size:14px;line-height:20px;color:#333333">
                                  Thank you for choosing Hubur Way.
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </td>
              </tr>
              <tr>
                  <td style="padding-top:30px;padding-bottom:30px;background-color:#ffffff;border-top-color:#f0f2f4;border-top-style:solid;border-top-width:1px">
                      <table align="center" border="0" cellpadding="0" cellspacing="0">
                          <tbody>
                          <tr>
                              <td>
                                  <a href="" style="text-decoration:none" target="_blank" data-saferedirecturl="">
                                      <img alt="" border="0" height="25" src="https://ci6.googleusercontent.com/proxy/uiZ8FDTRpBcJMqzvH2jwJNFZOwOlICIV94kRlIac8qJSpxmsuLarNpMUqw4h_LJE1gcmmJW08CcfWV4q_vQ7wevHmTx0C5_lhjUY2oiphCStmtL603k=s0-d-e1-ft#https://go.pardot.com/l/84442/2015-06-24/wht/84442/5264/twitter.png" style="width:25px;height:25px;border-width:0px;border-style:solid" class="CToWUd" data-bit="iit">
                                  </a>
                              </td>
                              <td style="padding-left:10px;padding-right:10px">
                                  <a href="" style="text-decoration:none" target="_blank" data-saferedirecturl="">
                                      <img alt="" border="0" height="25" src="https://ci5.googleusercontent.com/proxy/yUHcKSby8CZygL-b6QTAm_Lnh_KvqXgBkdy1fIWtYWOLfH90ioMT00JjOJYdO8nC5GLBZdkVZZlNu17ad6rSzAv04o1M1r5HurzE_K1yy8G4X1KaFe9d=s0-d-e1-ft#https://go.pardot.com/l/84442/2015-06-24/wj1/84442/5270/linkedin.png" style="width:25px;height:25px;border-width:0px;border-style:solid" class="CToWUd" data-bit="iit">
                                  </a>
                              </td>
                              <td>
                                  <a href="" style="text-decoration:none" target="_blank" data-saferedirecturl="">
                                      <img alt="" border="0" src="https://ci6.googleusercontent.com/proxy/ttNZ4YcoVg0uxIwHwT7k78oIcTPH3HIoVC1K6g9NkBEWODvSMzo4lRtEh7jzmBPPP1-WSwazxxSo9781sxNJONH6wbLMxF3uEejkjyzP8VHn2UquNTJR=s0-d-e1-ft#https://go.pardot.com/l/84442/2015-06-24/wv9/84442/5282/zoomblog.png" style="width:25px;height:25px;border-width:0px;border-style:solid" class="CToWUd" data-bit="iit">
                                  </a>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                      <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                          <tr>
                              <td style="font-family:helvetica,arial;font-size:12px;line-height:18px;color:#999999;text-align:center;padding-top:10px">
                                  Copyright ©2023 Hubur Way, Inc. All rights reserved.
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </td>
              </tr>
              </tbody>
          </table>
      </td>
  </tr>
  </tbody>
</table>