files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            */2 * * * * root source /var/app/venv/staging-LQM1lest/bin/activate && /var/app/venv/staging-LQM1lest/bin/python /var/app/current/manage.py booking_expiry_cron

    "/etc/cron.d/mycron2":
        mode: "000644"
        owner: root
        group: root
        content: |
            */3 * * * * root source /var/app/venv/staging-LQM1lest/bin/activate && /var/app/venv/staging-LQM1lest/bin/python /var/app/current/manage.py checkin_expiry_cron

    "/etc/cron.d/mycron3":
        mode: "000644"
        owner: root
        group: root
        content: |
            */4 * * * * root source /var/app/venv/staging-LQM1lest/bin/activate && /var/app/venv/staging-LQM1lest/bin/python /var/app/current/manage.py story_expiry_cron

    "/etc/cron.d/mycron4":
        mode: "000644"
        owner: root
        group: root
        content: |
            10 0 */1 * * root source /var/app/venv/staging-LQM1lest/bin/activate && /var/app/venv/staging-LQM1lest/bin/python /var/app/current/manage.py offer_expiry_cron

    "/etc/cron.d/mycron5":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 21 */1 * * root source /var/app/venv/staging-LQM1lest/bin/activate && /var/app/venv/staging-LQM1lest/bin/python /var/app/current/manage.py saved_offer_expiry_remainder_cron

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"

    remove_mycron2_cron:
        command: "rm -f /etc/cron.d/mycron2.bak"

    remove_mycron3_cron:
        command: "rm -f /etc/cron.d/mycron3.bak"

    remove_mycron4_cron:
        command: "rm -f /etc/cron.d/mycron4.bak"

    remove_mycron5_cron:
        command: "rm -f /etc/cron.d/mycron5.bak"