{% extends 'base.html' %}
{% load static %}
{% load generic %}
{% block page_content %}
<!-- <meta http-equiv="refresh" content="60"> -->

<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
	<!--begin::Toolbar container-->
	<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
		<!--begin::Page title-->
		<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
			<!--begin::Title-->
			<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Business Details</h1>
			<!--end::Title-->
		</div>
		<!--end::Page title-->
	</div>
	<!--end::Toolbar container-->
</div>

<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-xxl">
		<!--begin::Navbar-->
			{% include "includes/user_profile_generic.html" %}
		<!--end::Navbar-->
		<!--begin::details View-->
		<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
			<!--begin::Card header-->
			<div class="card-header cursor-pointer">
				<!--begin::Card title-->
				<div class="card-title m-0">
					<h3 class="fw-bold m-0">Business Details</h3>
				</div>
				<!--end::Card title-->
				{% if vendor_business  %}
				<!--begin::Action-->
				<a href="{% url 'edit_business_details' %}" class="btn btn-primary align-self-center">Edit Business Details</a>
				<!--end::Action-->
				{% endif %}
			</div>
			<!--begin::Card header-->
			<!--begin::Card body-->
			<div class="card-body p-9">
				{% if vendor_business  %}
				<!--begin::Row-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Logo</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8">
						<img class="business-logo" src="{% if vendor_business.logo_pic %}{{ vendor_business.logo_pic.url }}{% else %}{% static 'assets/media/misc/image.png' %}{% endif %}" alt="image" />
					</div>
					<!--end::Col-->
				</div>
				<!--end::Row-->
				<!--begin::Row-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Name</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8">
						<span class="fw-bold fs-6 text-gray-800">{{ vendor_business.name }}</span>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Row-->
				<!--begin::Input group-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Contact Phone
					<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Phone number must be active"></i></label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8 d-flex align-items-center">
						<span class="fw-bold fs-6 text-gray-800 me-2">{{ vendor_business.country_code }}-{{ vendor_business.contact }}</span>
						<span class="badge badge-success">Verified</span>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Google Maps</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8">
						<a href="https://www.google.com/maps/place/?q=place_id:{{ vendor_business.place_id }}" target="_blank" class="fw-semibold fs-6 text-gray-800 text-hover-primary">{{ vendor_business.address }}</a>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Status</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8 d-flex align-items-center">
						{% if vendor_business.is_active %}
							<span class="badge badge-success">Active</span>
						{% else %}
							<span class="badge badge-danger">In-Active</span>
						{% endif %}
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Website</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8">
						<a href="{% if vendor_business.website %}{{ vendor_business.website }}{% else %}#{% endif %}" target="_blank" class="fw-semibold fs-6 text-gray-800 text-hover-primary">{% if vendor_business.website %}{{ vendor_business.website }}{% else %}---{% endif %}</a>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Country
					<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Country of origination"></i></label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8">
						<span class="fw-bold fs-6 text-gray-800">United Arab Emirates</span>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Category</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8">
						<span class="fw-bold fs-6 text-gray-800">{{ vendor_business.i_category.name }}</span>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Sub Categories</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8">
						{% for data in vendor_business.i_subcategory.all %}
							<div class="col-sm-6 col-md-6">
								<li>
									<span class="fw-bold fs-6 text-gray-800">{{ data.name }}</span>
								</li>
							</div>
						{% endfor %}
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
					{% if vendor_business.i_category.name == "Restaurant"  %}
						<!--begin::Input group-->
						<div class="row mb-7">
							<!--begin::Label-->
							<label class="col-lg-4 fw-semibold text-muted">Attributes</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-8">
								{% if vendor_business.i_attributes.all %}
									{% for attr in vendor_business.i_attributes.all %}
											<div class="col-sm-6 col-md-6">
												<li>
													<span class="fw-bold fs-6 text-gray-800">{{ attr.name }}</span>
												</li>
											</div>
									{% endfor %}
								{% else %}
									<span class="fw-bold fs-6 text-gray-800">None</span>
								{% endif %}
							</div>
							<!--end::Col-->
						</div>
						<!--end::Input group-->
					{% endif %}

				<!--begin::Input group-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Member Since</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8">
						<span class="fw-bold fs-6 text-gray-800">{% if request.user.subscription %}{{ request.user.subscription.start_date }} {% else %} --- {% endif %}</span>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->

				<!--begin::Input group-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Membership Status</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8 d-flex align-items-center">
						{% if request.user.subscription.is_active %}
							<span class="badge badge-success">Active</span>
						{% else %}
							<span class="badge badge-danger">In-Active</span>
						{% endif %}
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->

				<!--begin::Input group-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Membership Renewal</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8">
						<span class="fw-bold fs-6 text-gray-800">{% if request.user.subscription %}{{ request.user.subscription.end_date }}{% else %} --- {% endif %}</span>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->

				<!--begin::Input group-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Amount Received</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8">
						<span class="fw-bold fs-6 text-gray-800">AED {% if request.user.subscription %}{{ request.user.subscription.subscription.price }}{% else %} 0.0 {% endif %} </span>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->

				<!--begin::Input group-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Billing Cycle</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8">
						<span class="fw-bold fs-6 text-gray-800">{% if request.user.subscription %}{{ request.user.subscription.subscription.get_subscription_type_display }}{% else %} --- {% endif %}</span>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->

				<!--begin::Input group-->
				<div class="row mb-7">
					<!--begin::Label-->
					<label class="col-lg-4 fw-semibold text-muted">Plan</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-6">
						<span class="fw-bold fs-6 text-gray-800">{% if request.user.subscription %}{% if request.user.lang_code == 1 %} {{ request.user.subscription.subscription.name }} {% else %} {{ request.user.subscription.subscription.name_ar }} {% endif %} {% else %} --- {% endif %}</span>
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-lg-2">
						<span class="fw-bold fs-6 text-gray-800"><a href="{% url 'subscription_plans' %}" style="text-decoration: underline;">Change</a></span>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->

				{% else %}

				<span class="fs-5 text-center d-block mt-5 mb-5">No Business Found.</span>

				{% endif %}
			</div>
			<!--end::Card body-->
		</div>
		<!--end::details View-->
	</div>
	<!--end::Content container-->
</div>

{% endblock %}

{% block extra_script %}

{% endblock %}