{% extends 'base.html' %}
{% load static %}
{% load generic %}

{% block extra_css %}
<style>
	#old_password_icon {
		float: right;
		margin-top: -33px;
		margin-right: 10px;
		position: relative;
		/* z-index: 2; */
		font-size: 20px;
		color: #193a83;
		cursor: pointer;
	}
	#new_password1_icon {
		float: right;
		margin-top: -33px;
		margin-right: 10px;
		position: relative;
		/* z-index: 2; */
		font-size: 20px;
		color: #193a83;
		cursor: pointer;
	}

	#new_password2_icon{
		float: right;
		margin-top: -33px;
		margin-right: 10px;
		position: relative;
		/* z-index: 2; */
		font-size: 20px;
		color: #193a83;
		cursor: pointer;
	}
</style>
{% endblock %}

{% block page_content %}
<!-- <meta http-equiv="refresh" content="60"> -->

<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
	<!--begin::Toolbar container-->
	<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
		<!--begin::Page title-->
		<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
			<!--begin::Title-->
			<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Settings</h1>
			<!--end::Title-->
		</div>
		<!--end::Page title-->
	</div>
	<!--end::Toolbar container-->
</div>

<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-xxl">
		<!--begin::Navbar-->
			{% include "includes/user_profile_generic.html" %}
		<!--end::Navbar-->
		<!--begin::details View-->
		<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
			{% include 'includes/generic_form.html' with form=form form_heading='Change Password' button_text="Save" %}
		</div>
		<!--end::details View-->
	</div>
	<!--end::Content container-->
</div>

{% endblock %}

{% block extra_script %}

{% endblock %}