{% extends 'base.html' %}
{% load static %}
{% load generic %}
{% block page_content %}

{% block extra_css %}
<style>
	.btn.btn-primary {
		width: 40%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
</style>
{% endblock %}

<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-xxl">
		<!--begin::details View-->
		<div class="card mt-10 mb-2 mb-xl-10" id="kt_profile_details_view">
			<!--begin::Card header-->
			<div class="card-header cursor-pointer">
				<!--begin::Card title-->
				<div class="card-title m-0">
					<h3 class="fw-bold m-0">Edit Business Schedule</h3>
				</div>
				<!--end::Card title-->
			</div>
			<!--begin::Card header-->
			<!--begin::Card body-->
			<div class="card-body p-9">
				<form class="form w-100" method="POST" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off" action="{% url 'edit_business_schedule' %}">
				{% csrf_token %}
					<!--begin::Row-->
					<div class="row mb-7">
						{% for day in business_schedule %}
							<div class="col-sm-4 col-md-4">
								<div class="form-group mb-3">
									<h6 class="form-heading mt-10">{{ day.i_day.name }}</h6>
									<input type="hidden" name="day" {% if day.start_time %} value="{{ day.i_day.id }}" {% endif %}>
								</div>
							</div>
							<div class="col-sm-4 col-md-4">
								<div class="form-group mb-3">
									<label class="form-label">Start Time</label>
									<input type="time" id="{{ day.i_day.id }}" name="start_time" {% if day.start_time %} value="{{ day.start_time|format_time }}" {% endif %} class="form-control bg-transparent"/>
								</div>
							</div>
							<div class="col-sm-4 col-md-4">
								<div class="form-group mb-3">
									<label class="form-label">End Time</label>
									<input type="time" id="{{ day.i_day.id }}" name="end_time" {% if day.end_time %} value="{{ day.end_time|format_time }}" {% endif %} class="form-control bg-transparent"/>
								</div>
							</div>
						{% endfor %}
					</div>
					<!--end::Row-->

					{% if error %}
						<div class="text-center mb-10" style="color: red;">
							{{ error }}
						</div>
					{% endif %}

					<!--begin::Submit button-->
					<div class="d-grid mt-10 mb-10">
						<button type="submit" class="btn btn-primary">
							<!--begin::Indicator label-->
							<span class="indicator-label">Submit</span>
							<!--end::Indicator label-->
							<!--begin::Indicator progress-->
							<span class="indicator-progress">Please wait...
								<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
							<!--end::Indicator progress-->
						</button>
					</div>
					<!--end::Submit button-->
				</form>
			</div>
			<!--end::Card body-->
		</div>
		<!--end::details View-->
	</div>
	<!--end::Content container-->
</div>

{% endblock %}

{% block extra_script %}
	<script>

		$("input[name='start_time']").on('change', function(e){
			var value = $(this).val();
			var id = $(this).attr('id');
			if(value != ""){
				$(this).parent().parent().next().children().children().eq(1).prop('required',true);
				$(this).parent().parent().next().children().children().eq(1).attr('min', value);
				$(this).parent().parent().prev().children().children().eq(1).val(id);
			}
			else{
				$(this).parent().parent().next().children().children().eq(1).prop('required',false);
				$(this).parent().parent().next().children().children().eq(1).removeAttr('min');
				$(this).parent().parent().prev().children().children().eq(1).removeAttr('value');
			}
		})

		$("input[name='end_time']").on('change', function(e){
			var value = $(this).val();
			var id = $(this).attr('id');
			if(value != ""){
				$(this).parent().parent().prev().children().children().eq(1).prop('required',true);
				$(this).parent().parent().prev().children().children().eq(1).attr('max', value);
				$(this).parent().parent().prev().prev().children().children().eq(1).val(id);
			}
			else{
				$(this).parent().parent().prev().children().children().eq(1).prop('required',false);
				$(this).parent().parent().prev().children().children().eq(1).removeAttr('max');
				$(this).parent().parent().prev().prev().children().children().eq(1).removeAttr('value');
			}
		})

		var defaultThemeMode = "light"; var themeMode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if (localStorage.getItem("data-theme") !== null) { themeMode = localStorage.getItem("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode); }
	</script>
{% endblock %}