{% extends "base.html" %}

{% block page_content %}


<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-xxl">
		<!--begin::details View-->
		<div class="card mt-10 mb-2 mb-xl-10" id="kt_profile_details_view"><!--begin::Card header-->
			<div class="card-header cursor-pointer">
				<!--begin::Card title-->
				<div class="card-title m-0">
				<h3 class="fw-bold m-0">Delete Story of <em><strong>"{{ object.i_user.get_name }}"</strong></em></h3>
				</div>
				<!--end::Card title-->
			</div>
			<!--begin::Card header-->
		
			<!--begin::Form-->
			<form class="form w-100" method="POST" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off">
				<!--begin::Card body-->
				<div class="card-body p-9">
					{% csrf_token %}
					<p>Are you sure you want to delete this Story? This action can't be undo.</p>
				</div>
				<!--end::Card body-->
				<!--begin::Card Footer-->
				<div class="card-footer text-right">
					<a href="{{ RETURN_URL }}" class="btn btn-primary">Back</a>
					<input type="submit" value="delete" class="btn btn-danger">
				</div>
				<!--end::Card Footer-->
			</form>
			<!--end::Form-->
			
		</div>
		<!--end::details View-->
	</div>
	<!--end::Content container-->
</div>

{% endblock %}