{% extends 'base.html' %}
{% load static %}
{% load generic %}
{% block page_content %}

<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-xxl">
		<!--begin::details View-->
		<div class="card mt-10 mb-2 mb-xl-10" id="kt_profile_details_view">
			{% include "includes/generic_form.html" with form=form form_heading="Create Menu" button_text="Submit" %}
		</div>
		<!--end::details View-->
	</div>
	<!--end::Content container-->
</div>

{% endblock %}

{% block extra_script %}

<script>
	$(".searchable-select").select2({
		tags: true,
		placeholder: "Create Tags Here",
		createTag: function (params) {
			var term = $.trim(params.term);

			if (term === '') {return null;}

			return {
				id: term,
				text: term,
				newTag: true
			}
		}
	});
</script>

{% endblock %}