body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    line-height: 140%;
    font-family: 'Roboto', sans-serif;
    color: #09080C;
}

img {
    max-width: 100%;
}

button,
input,
select,
textarea {
    outline: none;
    box-sizing: border-box;
}

input,
textarea,
select {
    height: 54px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 0;
    font-family: 'Roboto', sans-serif;
    color: #CAC5CD;
    font-size: 19px;
    padding: 0 20px;
}

input.error {
    box-shadow: inset 0 0 0px 2px red;
}

input.error ~ label {
    display: none !important;
}

input.error ~ .hint {
    display: block;
}

.input-field {
    position: relative;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #CAC5CD;
}

textarea {
    height: 158px;
    resize: none;
}

button {
    height: 42px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    background-color: #2e687e;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 33px;
    transition: 0.2s ease;
}

button:hover {
    background-color: #354e58;
}

h1,
h2,
h3 {
    font-size: inherit !important;
    line-height: inherit !important;
    font-weight: inherit !important;
    margin: 0 !important;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.not-found {
    margin-top: 50px;
}

.fr {
    float: right;
}

.dn,
.mobile {
    display: none;
}

.wrapper {
    overflow: hidden;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex.inline {
    display: inline-flex;
}

.flex.jcsb {
    justify-content: space-between;
}

.flex.jce {
    justify-content: flex-end;
}

.flex.ais {
    align-items: flex-start;
}

.flex.aic {
    align-items: center;
}

.flex.jcc {
    justify-content: center;
}

.flex.aib {
    align-items: flex-end;
}

.flex.nowrap {
    flex-wrap: nowrap;
}

.flex.grow {
    flex-grow: 2;
}

.pop-cookie {
    position: fixed;
    display: none;
    left: 20px;
    bottom: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 20px 36px -12px rgba(35, 36, 176, 0.25);
    z-index: 200;
    background-color: white;
    border: 2px solid #7B60AE;
}

.pop-cookie button {
    transition: 0.2s ease;
    font-size: 13px;
    color: white;
    background-color: #7B60AE;
    border-radius: 6px;
    line-height: 30px;
    height: 30px;
    padding: 0 12px;
    margin-left: 10px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
}

.mobile {
    display: none;
}

.main-screen {
    padding-top: 30px;
    background: url("../img/bg.jpg") center bottom no-repeat;
    background-size: cover;
    color: white;
}

.search-form {
    position: relative;
    bottom: -45px;
    margin-top: -20px;
    max-width: 770px;
    display: inline-block;
}

.search-form .title {
    font-size: 40px;
}

.search-form p {
    font-size: 17px;
    line-height: 150%;
    display: inline-block;
    padding: 25px 0 85px;
}

.search-form .form-container {
    margin: 0 auto;
}

.search-form .form-container .search-error {
    position: absolute;
    left: 20px;
    bottom: 7px;
    color: red;
}

.search-form .form-container .input-field {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 20px 36px -12px rgba(35, 36, 176, 0.25);
    position: relative;
    flex-wrap: nowrap;
}

.search-form .form-container .input-field .drop-list {
    z-index: 10;
    position: absolute;
    top: 100%;
    max-height: 300px;
    overflow: auto;
    margin-top: 5px;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 20px 36px -12px rgba(35, 36, 176, 0.25);
    display: none;
}

.search-form .form-container .input-field .drop-list .user-check {
    vertical-align: super;
    margin-left: 5px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../img/verified.png') no-repeat;
    background-size: 100% 100%;
}

.search-form .form-container .input-field .drop-list .in_full_name {
    margin-left: 10px;
}

.search-form .form-container .input-field .drop-list .in_name {
    display: inline-block;
    font-weight: bold;
}

.search-form .form-container .input-field .drop-list ul {
    padding: 12px 0;
}

.search-form .form-container .input-field .drop-list ul li {
    border-bottom: 1px solid #F4F3F7;
    position: relative;
}

.search-form .form-container .input-field .drop-list ul li a {
    padding: 12px 26px;
    color: black;
}

.search-form .form-container .input-field .drop-list ul li a:hover {
    background-color: #efefef;
}

.search-form .form-container .input-field .drop-list ul li img {
    margin-right: 10px;
    max-width: 48px;
}

.search-form .form-container .input-field input {
    flex-grow: 1;
    height: 83px;
    border-color: transparent;
}

.search-form .form-container .input-field button {
    width: 83px;
    height: 83px;
    background: transparent url("../img/ico-search.svg") center center no-repeat;
}
.search-form .form-container .input-field button.paste-button {
    background: transparent url("../img/ico-paste.png") center center no-repeat;
    width: 30px;
    padding: 0;
}

.search-form .form-container .input-field button:hover {
    opacity: 0.6;
}

.search-form .hint {
    margin-top: 20px;
    color: #7C7184;
}

header {
    color: white;
    padding-bottom: 30px;
}

header .right-menu li {
    margin-left: 38px;
}

header .right-menu li a {
    color: white;
    height: 22px;
    font-size: 16px;
}

header .right-menu li a i {
    margin-right: 7px;
    font-size: 20px;
}

header .right-menu li a p {
    display: inline-block;
}

header .right-menu li a:hover {
    opacity: 0.8;
}

header .right-menu li.lang {
    padding: 12px 12px 12px 7px;
    position: relative;
}

header .right-menu li.lang.is-open {
    background-color: white;
    border-radius: 12px 12px 0 0;
}

header .right-menu li.lang.is-open a {
    color: #534A7A;
}

header .right-menu li.lang.is-open a:hover {
    opacity: 1;
}

header .right-menu li.lang.is-open .dropdown {
    display: block;
}

header .right-menu li.lang.is-open .fa-angle-up {
    display: inline-block;
}

header .right-menu li.lang.is-open .fa-angle-down {
    display: none;
}

header .right-menu li.lang > a {
    position: relative;
}

header .right-menu li.lang > a p {
    display: inline-block;
}

header .right-menu li.lang > a i {
    margin-left: 4px;
}

header .right-menu li.lang > a .fa-angle-up {
    display: none;
}

header .right-menu li.lang .dropdown {
    display: none;
    z-index: 2;
    box-shadow: 0px 20px 36px -12px rgba(35, 36, 176, 0.25);
    border-radius: 12px 0 12px 12px;
    position: absolute;
    min-width: 330px;
    right: 0;
    top: 100%;
    background-color: white;
    padding: 15px 20px;
    text-align: left;
}

header .right-menu li.lang .dropdown li {
    flex-basis: 45%;
    margin: 0;
    padding: 2px 0;
}

header .right-menu li.lang .dropdown a {
    background: transparent;
    padding: 0;
    font-size: 15px;
}

header .right-menu li.lang .dropdown a:hover {
    opacity: 0.6;
}

header .right-menu li.lang .dropdown a.current {
    color: #FE0050;
}

.popular-accounts {
    padding: 70px 0 80px 0;
}

.popular-accounts ul {
    margin-top: 40px;
}

.popular-accounts ul li {
    width: 220px;
    height: 80px;
    margin: 0 15px 20px 15px;
}

.popular-accounts ul li a {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 16px;
    background-color: #F5F4F6;
    border-radius: 12px;
    color: #141216;
    transition: 0.2s ease;
}

.popular-accounts ul li a:hover {
    background: #FFFFFF;
    box-shadow: 0px 6px 24px -12px rgba(35, 36, 176, 0.25);
}

.popular-accounts ul li a img {
    margin-right: 16px;
}

.popular-accounts ul li a span {
    text-align: left;
    font-size: 16px;
    display: block;
    word-break: break-word;
}

.popular-accounts .more {
    display: inline-block;
}

.popular-accounts .more button {
    color: white;
    background-color: #7B60AE;
    border-radius: 6px;
}

.benefits {
    background: #F4F3F7;
    padding: 60px 0 100px 0;
}
.benefits.index-page {
    background: #F4F3F7;
    padding-top: 90px;
}
.benefits .caption {
    line-height: 150%;
    max-width: 770px;
    display: inline-block;
    margin-top: 25px;
}

.benefits ul {
    margin-top: 60px;
}

.benefits ul li {
    flex-basis: 32%;
    padding: 50px;
    border-radius: 12px;
    background-color: white;
    transition: 0.2s ease;
}

.benefits ul li:hover {
    box-shadow: 0px 20px 36px -12px rgba(35, 36, 176, 0.13);
    cursor: pointer;
}

.benefits ul li .image {
    height: 56px;
}

.benefits ul li span {
    font-weight: 600;
    font-size: 17px;
    display: block;
    margin: 23px 0 15px 0;
}

.benefits ul li p {
    font-size: 14px;
    line-height: 150%;
}

.w-content {
    position: relative;
    min-height: auto;
}

.user-info {
    color: black;
    padding: 40px 0 00px 0;
}

.user-info .container {
    text-align: left;
}

.user-info .user-header {
    position: relative;
    padding: 0 20px;
    overflow: hidden;
}

.user-info .user-check {
    vertical-align: super;
    margin-left: 5px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../img/verified.png') no-repeat;
    background-size: 100% 100%;
}

.user-info .row {
    max-width: 770px;
    margin: 15px auto;
}

.user-info .avatar {
    float: left;
    margin-right: 30px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    width: 170px;
    padding: 5px;
    background: radial-gradient(124.65% 124.65% at 37.17% 100.07%, #FFDD55 0%, #FF543F 32.8%, #FC5245 34.8%, #E64771 50.4%, #D53E91 64.3%, #CC39A4 76.1%, #C837AB 84.1%);
}

.user-info .avatar img {
    border-radius: 100%;
    display: block;
    border: 5px solid white;
    width: 160px;
    height: 160px;
}

.user-info .avatar .count {
    background: linear-gradient(45deg, #F30072 72.45%, #E50097 80.93%);
    width: 28px;
    height: 28px;
    border-radius: 100%;
    position: absolute;
    right: 13px;
    bottom: 13px;
    font-weight: 700;
    color: white;
}

.user-info .top {
    padding-top: 15px;
}

.user-info .top .nickname {
    font-size: 24px;
    margin-bottom: 15px;
}

.user-info .top .nickname span {
    font-size: 14px;
    color: #888;
}

.user-info .top .favourite {
    margin-right: 0px;
    cursor: pointer;
}

.user-info .top .favourite i {
    color: #FE0050;
    font-size: 20px;
}

.user-info .top .share {
    transition: 0.2s ease;
    font-size: 13px;
    color: white;
    background-color: #7B60AE;
    border-radius: 6px;
    line-height: 30px;
    padding: 0 12px;
    display: none;
}

.user-info .top .share:hover {
    background-color: #987fc7;
}

.user-info .info {
    display: flex;
    flex-direction: column;
    position: relative;
}

.user-info .info .next-user-button {
    position: absolute;
    right: -10px;
    top: 20px;
    font-size: 30px;
    opacity: 0.3;
}

.user-info .info ul {
    margin: 5px 0 15px 0;
}

.user-info .info ul li {
    margin-right: 20px;
}

.user-info .info ul li span {
    font-weight: 500;
}

.slider {
    background-color: #F5F4F6;
    padding: 32px 0;
}

.slider .row {
    max-width: 720px;
    display: inline-block;
    width: 100%;
}

.slider .owl-carousel {
    position: relative;
}

.slider .owl-carousel .item a {
    display: block;
    color: black;
}

.slider .owl-carousel .item .image {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 1px solid #534A7A;
    padding: 4px;
}

.slider .owl-carousel .item .image img {
    border-radius: 100%;
    height: 100%;
}

.slider .owl-carousel .owl-nav {
    position: absolute;
    top: 20px;
    margin: 0 !important;
    width: 100%;
    z-index: -1;
}

.slider .owl-carousel .owl-nav .owl-next {
    float: right;
    margin-right: -20px;
}

.slider .owl-carousel .owl-nav .owl-prev {
    margin-left: -20px;
    float: left;
}

.slider .owl-carousel .owl-nav button:hover {
    background: transparent !important;
}

.slider .owl-carousel .owl-nav .fal {
    font-size: 30px;
    color: #7B60AE;
    cursor: pointer;
}

.paginate-container {
    text-align: center;
}

.paginate-container .paginate-link {
    background-color: #F5F4F6;
    border-radius: 6px;
    color: #000;
    padding: 2px 4px;
}

.paginate-container .paginate-text {
    color: #000;
}

.paginate-container .paginate-link:hover {
    background-color: #f30072;
    color: #fff;
}

.paginate-container .active-paginate-link {
    background-color: #f30072;
    color: #fff;
}

.no-content-text {
    font-size: 1.35rem !important;
}

@media (min-width: 550px) {
    .user-content .tabs .tab-content .item:hover a {
        visibility: visible;
        background-color: rgb(0 0 0 / 68%);
    }

    .user-content .tabs .tab-content .item:hover a p {
        visibility: visible;
    }
}

.user-content {
    padding: 28px 0;
}

.user-content .tabs .list {
    border-bottom: 1px solid #CAC5CD;
}

.user-content .tabs .list li {
    display: inline-block;
}

.user-content .tabs .list li a {
    display: block;
    margin-bottom: -4px;
    text-transform: uppercase;
    padding: 12px 24px;
    color: #B8B2BD;
    border-bottom: 4px solid transparent;
}

.user-content .tabs .list li a.active,
.user-content .tabs .list li a:hover {
    color: #09080C;
    border-bottom: 4px solid #7B60AE;
}

.user-content .tabs .tab-content {
    margin-top: 20px;
}

.user-content .tabs .tab-content .tab {
    display: none;
}

.user-content .tabs .tab-content .tab.current {
    display: block;
}

.user-content .tabs .tab-content .item {
    position: relative;
}

.user-content .tabs .tab-content .item img {
    display: block;
    width: 100%;
    height: 200px;
    max-width: none !important;
}

.user-content .tabs .tab-content .item video {
    width: 100%;
    height: 200px;
}

.user-content .tabs .tab-content .item a {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    color: white;
    align-items: center;
    justify-content: center;
}

.user-content .tabs .tab-content .item a.download p {
    padding-left: 25px;
    background: url("../img/ico-download.svg") left center no-repeat;
}

.user-content .tabs .tab-content .item a p {
    visibility: hidden;
    cursor: pointer;
}

.user-content .tabs .tab-posts .item {
    max-height: 270px;
    overflow: hidden;
}

.user-content .tabs .tab-stories,
.user-content .tabs .tab-download,
.user-content .tabs .tab-posts {
    margin: 0 -15px;
}

.user-content .tabs .tab-stories ul,
.user-content .tabs .tab-posts ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.user-content .tabs .tab-stories ul::after,
.user-content .tabs .tab-posts ul::after {
    content: "";
    flex: auto;
}

.user-content .tabs .tab-stories ul li,
.user-content .tabs .tab-posts ul li {
    padding: 15px;
    flex-basis: 25%;
}

.ads-capt {
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin: 0 auto 0px;
    padding: 5px 10px;
    background: #5d63b9;
    width: fit-content;
}

footer {
    padding: 40px 0;
}

footer .contacts {
    margin-bottom: 10px;
}

footer .contacts a {
    color: #09080C;
    line-height: 24px;
    margin: 0 10px;
}

footer .contacts .telegram {
    color: #0088cc;
}

footer .contacts .telegram i {
    vertical-align: middle;
    font-size: 22px;
    margin-right: 5px;
}

footer .copyright {
    margin-bottom: 10px;
}

footer p {
    line-height: 150%;
    max-width: 670px;
    display: inline-block;
}

.md-overlay {
    width: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    visibility: hidden;
}

.md-show {
    visibility: visible !important;
}

.md-overlay .close,
.pop-up .close {
    position: absolute;
    right: 30px;
    top: 20px;
    color: white;
    font-size: 40px;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.pop-up.md-show {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

a.close:hover {
    opacity: 0.95;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.pop-up {
    position: fixed;
    z-index: 101;
    visibility: hidden;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    left: 50%;
    top: 50%;
    text-align: center;
    background-color: white;
}

.pop-search {
    width: 770px;
    margin-left: -385px;
    margin-top: -85px;
    background-color: transparent;
}

.pop-search .search-form {
    bottom: 0;
    margin: 0;
}

.pop-search .search-form .hint {
    color: white;
}

.pop-story,
.pop-highlights,
.pop-post {
    background-color: transparent;
    top: 0;
    margin-top: 50px;
    width: 370px;
    height: 650px;
    margin-left: -185px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-story .close,
.pop-highlights .close,
.pop-post .close {
    display: none;
}

.pop-story .progress,
.pop-highlights .progress,
.pop-post .progress {
    flex-basis: 100%;
    margin: 10px 0 -10px 0;
}

.pop-story .progress span,
.pop-highlights .progress span,
.pop-post .progress span {
    height: 3px;
    background: rgba(255, 255, 255, 0.35);
    margin: 0 1px;
    flex-grow: 1;
}

.pop-story .progress span.active,
.pop-highlights .progress span.active,
.pop-post .progress span.active {
    background: white;
}

.pop-story .pop-content img,
.pop-highlights .pop-content img,
.pop-post .pop-content img {
    width: 100%;
    border-radius: 12px;
}

.pop-story .pop-content video,
.pop-highlights .pop-content video,
.pop-post .pop-content video {
    width: 100%;
}

.pop-story .top,
.pop-highlights .top,
.pop-post .top {
    position: absolute;
    color: white;
    bottom: 98%;
    left: 0;
    right: 0;
    padding-bottom: 20px;
}

.pop-story .top img,
.pop-highlights .top img,
.pop-post .top img {
    width: 32px;
    margin-right: 10px;
    border-radius: 100%;
}

.pop-story .download,
.pop-highlights .download,
.pop-post .download {
    color: white;
    width: 110px;
    display: block;
    line-height: 30px;
    padding-left: 25px;
    background: #7B60AE url("../img/ico-download.svg") 10px center no-repeat;
    background-size: 14px 12px;
    border-radius: 4px;
    font-size: 13px;
    transition: 0.2s ease;
}
.mfp-download {
    position: absolute;
    top: -6px;
    left: calc(50% - 55px);
    background: #7b60ae url(../img/ico-download.svg) 10px no-repeat;
    background-size: 14px 12px;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 13px;
    line-height: 30px;
    padding-left: 35px;
    transition: .2s ease;
    width: 110px;
}

.pop-story .download:hover,
.pop-highlights .download:hover,
.pop-post .download:hover {
    background-color: #987fc7;
}

.pop-story .fal,
.pop-highlights .fal,
.pop-post .fal {
    color: white;
    position: absolute;
    top: 50%;
    font-size: 40px;
    margin-top: -20px;
    cursor: pointer;
    z-index: 2;
}

.pop-story .fal:hover,
.pop-highlights .fal:hover,
.pop-post .fal:hover {
    opacity: 0.7;
}

.pop-story .fal.fa-chevron-left,
.pop-highlights .fal.fa-chevron-left,
.pop-post .fal.fa-chevron-left {
    left: -40px;
}

.pop-story .fal.fa-chevron-right,
.pop-highlights .fal.fa-chevron-right,
.pop-post .fal.fa-chevron-right {
    right: -40px;
}

.pop-story,
.pop-highlights {
    background-color: black;
    border-radius: 10px;
}

.pop-post {
    width: 1000px;
    margin-left: -500px;
}

.pop-post .download {
    position: absolute;
    left: 10px;
    top: 15px;
    background-color: rgba(9, 8, 12, 0.7);
}

.pop-post .download:hover {
    background-color: rgba(9, 8, 12, 0.95);
}

.pop-post .pop-content {
    flex-basis: 57%;
    position: relative;
}

.pop-post .pop-comments {
    background-color: white;
    color: black;
    flex-basis: 40%;
    text-align: left;
    padding: 20px;
    border-radius: 8px;
}

.pop-post .pop-comments.blur .inner {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.pop-post .pop-comments .top {
    position: static;
}

.pop-post .pop-comments .top img {
    width: 32px;
}

.pop-post .pop-comments .top p {
    color: black;
    font-weight: 500;
}

.pop-post .pop-comments .likes {
    margin: 15px 0;
}

.pop-post .pop-comments .likes i {
    color: #FE0050;
}

.pop-post .pop-comments .list ul {
    height: 355px;
    overflow: auto;
}

.pop-post .pop-comments .list ul li {
    margin-bottom: 10px;
}

.pop-post .pop-comments .list ul li .image {
    margin-right: 8px;
}

.pop-post .pop-comments .list ul li .image img {
    max-width: 32px;
}

.pop-post .pop-comments .list ul li p {
    display: inline-block;
}

.pop-post .pop-comments .list ul li p span {
    font-weight: 700;
}

.preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
    display: none;
}

.sk-folding-cube {
    width: 4em;
    height: 4em;
    position: relative;
    margin: auto;
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FE0050;
    animation: sk-folding-cube-angle 2.4s infinite linear both;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube-1 {
    transform: scale(1.1) rotateZ(0deg);
}

.sk-folding-cube .sk-cube-1:before {
    animation-delay: 0s;
}

.sk-folding-cube .sk-cube-2 {
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube-2:before {
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube-3 {
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube-3:before {
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube-4 {
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube-4:before {
    animation-delay: 0.9s;
}

@keyframes sk-folding-cube-angle {
    0%,
    10% {
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@media (max-width: 900px) {
    .pop-post {
        width: 700px;
        margin-left: -350px;
    }

    .popular-accounts ul li {
        margin: 0 10px 15px 10px;
    }

    .popular-accounts ul li a {
        padding: 10px;
    }

    .benefits ul li {
        padding: 20px;
    }
}

@media (max-width: 700px) {
    header .right-menu li {
        margin-left: 20px;
    }

    header .right-menu li a p {
        display: none !important;
    }

    .benefits ul li {
        padding: 10px;
    }
}

@media (max-width: 550px) {
    .md-overlay .close {
        display: none;
    }

    input {
        font-size: 15px;
    }

    .user-info .avatar {
        margin-right: 15px;
    }

    .user-info .top .nickname span:not(.user-check) {
        position: absolute;
        left: 0;
        text-align: center;
        width: 100%;
        top: -25px;
    }

    .pop-story,
    .pop-highlights,
    .pop-post {
        width: 335px;
        margin-left: -167px;
        height: auto;
        background: transparent;
    }

    .pop-story .top,
    .pop-highlights .top,
    .pop-post .top {
        z-index: 1;
    }

    .pop-story .download,
    .pop-highlights .download,
    .pop-post .download {
        margin-right: 40px;
    }

    .pop-story .close,
    .pop-highlights .close,
    .pop-post .close {
        display: block;
        top: 16px;
    }

    .pop-story .pop-comments,
    .pop-highlights .pop-comments,
    .pop-post .pop-comments {
        flex-basis: 100%;
        border-radius: 0;
    }

    .pop-story .fal.fa-chevron-left,
    .pop-highlights .fal.fa-chevron-left,
    .pop-post .fal.fa-chevron-left,
    .pop-story .fal.fa-chevron-right,
    .pop-highlights .fal.fa-chevron-right,
    .pop-post .fal.fa-chevron-right {
        padding: 10px;
        top: 45%;
    }

    .pop-story .fal.fa-chevron-left,
    .pop-highlights .fal.fa-chevron-left,
    .pop-post .fal.fa-chevron-left {
        left: 0px;
    }

    .pop-story .fal.fa-chevron-right,
    .pop-highlights .fal.fa-chevron-right,
    .pop-post .fal.fa-chevron-right {
        right: 0px;
    }

    .pop-story .top,
    .pop-highlights .top,
    .pop-post .top {
        bottom: 101%;
        padding: 0 10px;
    }

    .pop-story .pop-content,
    .pop-highlights .pop-content,
    .pop-post .pop-content {
        flex-basis: 100%;
    }

    .pop-story .pop-content img,
    .pop-highlights .pop-content img,
    .pop-post .pop-content img {
        border-radius: 0;
    }

    .pop-post {
        max-height: 800px;
        overflow: auto;
        height: auto;
    }

    .pop-post .close {
        top: 26px;
    }

    .pop-post img {
        max-height: 400px;
        width: auto;
        max-width: 100%;
    }

    .pop-search {
        width: 335px;
        margin-left: -167px;
        margin-top: -85px;
    }

    .title {
        font-size: 24px;
        line-height: 120%;
    }

    .container {
        max-width: 355px;
        padding: 0 10px;
    }

    header .logo {
        max-width: 158px;
    }

    header .right-menu li {
        margin-left: 7px;
    }

    header .right-menu li.lang {
        padding: 5px;
    }

    header .right-menu li.lang > a:after {
        right: -2px;
    }

    .popular-accounts {
        padding-bottom: 40px;
    }

    .popular-accounts ul li {
        margin: 0 5px 10px 5px;
        padding: 5px;
        width: 150px;
        height: auto;
    }

    .popular-accounts ul li a {
        display: block;
    }

    .popular-accounts ul li a span {
        text-align: center;
        font-size: 14px;
        height: 21px;
        overflow: hidden;
    }

    .popular-accounts ul li a img {
        margin: 0 0 0px 0;
    }

    .benefits {
        padding: 40px 0 40px 0;
    }

    .benefits .caption {
        font-size: 14px;
    }

    .benefits ul {
        margin-top: 0px;
    }

    .benefits ul li {
        flex-basis: 100%;
        margin-top: 20px;
        padding: 15px;
    }

    .search-form {
        margin-top: -40px;
        bottom: -35px;
    }

    .search-form .title {
        font-size: 32px;
    }

    .search-form p {
        padding: 10px 0 15px;
    }

    .search-form form .input-field input {
        height: 62px;
        font-size: 16px;
    }

    .search-form form .input-field button {
        height: 62px;
        background-size: 20px 20px;
        width: 62px;
        padding: 0;
    }

    .user-info .avatar {
        width: 100px;
    }

    .user-info .avatar img {
        height: 90px;
    }

    .user-info .avatar .count {
        width: 24px;
        height: 24px;
        right: 3px;
        bottom: 3px;
    }

    .user-info .info {
        clear: both;
    }

    .user-content .tabs .tab-stories ul li,
    .user-content .tabs .tab-posts ul li {
        flex-basis: 50%;
        padding: 10px;
    }

    .user-content .tabs .tab-content .item video {
        width: 100%;
        height: 100%;
    }

    footer p {
        font-size: 14px;
    }
}

.faq .title {
    font-size: 26px;
    text-align: left;
}

.faq ul {
    border-left: 3px solid #e8e3e5;
    padding-left: 20px;
    text-align: left;
    margin-top: 30px;
}

.faq li {
    margin-bottom: 30px;
}

.faq li .item {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.faq li .collapse {
    font-size: 16px;
}

.description {
    margin-top: 40px;
}

.stories_preload_line,
.download_preload_line,
.posts_preload_line {
    margin: 30px 0;
}

.bottom-text {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}

.bottom-link {
    color: #7b60ae !important;
}

.bottom-link:hover {
    text-decoration: underline;
}

.users-title {
    margin-bottom: 15px;
}

.user-component-img {
    width: 50px;
}

.remove-form form {
    margin: 50px auto;
    max-width: 480px;
}

.remove-form input,
.remove-form textarea {
    border: 1px solid #ced4da;
    margin-top: 20px;
    width: 100%;
}

.remove-form textarea {
    padding-top: 15px;
    padding-bottom: 15px;
}

.remove-form button {
    color: #fff;
    background-color: #7b60ae;
    border-radius: 6px;
    margin: 20px auto;
}

.remove-form p {
    font-size: 25px;
    line-height: 30px;
}

.post-time {
    position: absolute;
    right: 10px;
    bottom: 15px;
    background-color: rgba(9, 8, 12, 0.7);
    color: white;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    font-size: 13px;
    transition: 0.2s ease;
}

.back {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
}

.back span {
    cursor: pointer;
    display: flex;
    font-size: 15px;
    line-height: 140%;
    color: #4A67C6;
}

.back img {
    margin-right: 12px;
}

.media {
    background: #F5F4F6;
    padding: 90px 0;
}

.media .container {
    display: flex;
    justify-content: center;
    position: relative;
}

.media a {
    background: #DADADA;
    border-radius: 6px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    display: inline-block;
}

.media .media-content {
    display: inline-block;
    max-width: 550px;
    margin-left: 80px;
}

.media p {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 50px;
    text-align: left;
}

.media video {
    max-width: 460px;
}

.media img {
    max-width: 460px;
}

@media (max-width: 700px) {
    .media p {
        margin-bottom: 16px;
    }

    .media {
        padding: 16px 0;
    }

    .media .media-content {
        position: absolute;
        top: 0;
        margin-left: 0;
    }

    .media video {
        margin-top: 150px;
        max-width: 335px;
    }

    .media img {
        margin-top: 150px;
        max-width: 335px;
    }
}

.clear {
    position: absolute;
    right: 0px;
    top: 0px;
    color: black;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.show-content-button{
    display: none;
}
.banner-bot {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    background: #5465BC;
    height: 100px;
    display: none;
}

.banner-bot:before {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    background: url(../img/bg-1.png) left center no-repeat;
    left: 0;
    width: 150px;
}

.banner-bot:after {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    background: url(../img/bg-2.png) right center no-repeat;
    right: 0;
    width: 160px;
}

.banner-bot .bot {
    width: 166px;
    height: 100%;
    background: url('../img/bot.png') center bottom no-repeat;
    margin-left: 40px;
    margin-right: 15px;
    position: relative;
    z-index: 1;
    background-size: 100% 100%;
}

.banner-bot p {
    max-width: 490px;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: white;
    text-align: left;
    position: relative;
    z-index: 1;
}

.banner-bot button {
    background: #FBCF21;
    color: #2C0054;
    font-size: 14px;
    border-radius: 4px;
    height: 44px;
    padding: 0 60px;
    border: 0;
    position: relative;
    z-index: 1;
    margin-right: 40px;
    margin-left: 15px;
    cursor: pointer;
}

.banner-bot button:hover {
    background-color: #ffdf62;
}

@media (max-width: 1000px) {
    .banner-bot p {
        font-size: 16px;
    }

    .banner-bot button {
        padding: 0 15px;
    }
}
.btn-google {
    color: #fff !important;
    background-color: #111;
    border-color: #000;
    padding: 15px 16px 5px 40px;
    position: relative;
    font-weight: 600;
    margin: 5px;
    font-size: 18px;
    line-height: 1.3333333 !important;
    border-radius: 6px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: inline-block
}
.btn-google:active:focus, .btn-google:focus {
    outline: 0
}
.btn-google:focus, .btn-google:hover {
    color: #333;
    text-decoration: none;
    outline: 0
}
.btn-google:active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}
.btn-google:focus {
    color: #fff;
    background-color: #555;
    border-color: #000
}
.btn-google:active, .btn-google:hover {
    color: #fff;
    background-color: #555;
    border-color: #000;
}
.btn-google:before {
    content: "";
    background-image: url(../../4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 6px;
    top: 50%;
    margin-top: -15px
}

.btn-google:after {
    content: "GET IT ON";
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 10px;
    font-weight: 400;
}

@media (max-width: 720px) {
    .btn-google {
        margin: 10px !important;
    }
    .banner-bot:before,
    .banner-bot:after {
        opacity: 0.3;
    }

    .banner-bot:after {
        right: -70px;
        opacity: 0.2;
    }

    .banner-bot p {
        font-size: 14px;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .banner-bot {
        flex-wrap: wrap;
    }

    .banner-bot .bot {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 110px;
        height: 66px;
        margin: 0;
        margin-left: 5px;
    }

    .banner-bot a {
        display: block;
        margin: 0 auto;
    }

    .banner-bot button {
        margin: 0;
        padding: 0 20px;
    }
}
.mfp-content {
    max-width: 462px !important;
}
.mfp-bottom-bar {
    top: 0 !important;
    margin-top: 12px !important;
}
.mfp-close {
    text-align: center !important;
    padding-right: 0 !important;
    width: 44px !important;
    background: transparent !important;
}
.mfp-arrow {
    background: transparent !important;
}
.mfp-iframe-scaler .mfp-bottom-bar {
    margin-top: -28px !important;
}


.mfp-iframe-scaler-post {
    overflow: visible !important;
    min-height: 500px;
}
.mfp-iframe-scaler-post,
.mfp-figure-post {
    top: 50%;
    position: relative;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.mfp-iframe-scaler-post .mfp-bottom-bar,
.mfp-figure-post .mfp-bottom-bar {
    top: -28px !important;
    margin-top: 0 !important;
}
.mfp-iframe-scaler-post .mfp-close,
.mfp-figure-post .mfp-close {
    top: -40px !important;
}
.mfp-figure-post .mfp-img {
     margin: 0 !important;
}
.post-text {
    display: none;
    font-size: 22px;
    margin-top: 30px;
}
.second-page {
    text-align: left;
    margin-top: 25px;
}
.second-page h2 {
    text-align: center;
}
.second-page h3 {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    font-weight: bold !important;
}
.second-page ul {
    list-style-type: square;
}
.second-page li {
    margin-left: 25px;
}
.second-page p {
    text-indent: 1.5em;
}
.insta-banner{
    padding: 25px 35px;
    border-radius: 12px;
    text-align: center;
    position: relative;
    background: #B14AAD url('../img/bg-insta-banner.png') center 100px no-repeat;
    margin: 10px 0;
    overflow: hidden;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
    display: none;
}
.insta-banner.type-1{
    padding-bottom: 170px;
}
.insta-banner.type-1:after{
    margin-bottom: -77px;
}
.insta-banner.type-2{
    padding-bottom: 254px;
}
.insta-banner.type-3{
    background: #B14AAD url('../img/bg-insta-banner.png') center 57px no-repeat;
}
.insta-banner.type-3:after{
    display: none;
}
.insta-banner:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 11px;
    right: 0;
    height: 214px;
    background: url('../img/droid.png') center center no-repeat;
}
.insta-banner .caption{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    position: relative;
    z-index: 1;
    color: white;
}
.insta-banner button{
    background: #FBCF21;
    border-radius: 4px;
    color: #2C0054;
    font-size: 16px;
    margin-top: 35px;
    position: relative;
    z-index: 1;
    text-transform: inherit;
}
.insta-banner button:hover{
    background-color: #ffdf62;
}

.pop-story .caption {
    position: absolute;
    color: white;
    bottom: 10%;
    left: 15px;
    right: 0;
    padding-bottom: 20px;
    text-align: left;
    display: none;
}

.pop-story:hover .caption {
    display: block;
}