{% extends 'base.html' %}
{% load static %}
{% load generic %}

{% block extra_css %}


{% endblock %}

{% block page_content %}

<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card mt-10 mb-5 mb-xl-8">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold fs-3 mb-1">Voting</span>
                    <span class="text-muted mt-1 fw-semibold fs-7">Manage and Control Your Business votings.</span>
                </h3>
                <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8" role="tablist">
                    <!--begin:::Tab item-->
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-active-primary pb-4" href="{% url 'vendor_votes' %}" aria-selected="false" role="tab" tabindex="-1">Like</a>
                    </li>
                    <!--end:::Tab item-->
                    <!--begin:::Tab item-->
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#dislikes" aria-selected="false" role="tab" tabindex="-1">Dis-Like</a>
                    </li>
                    <!--end:::Tab item-->
                </ul>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body py-3">
                <div class="flex-lg-row-fluid">
                    <!--begin:::Tab content-->
                    <div class="tab-content" id="myTabContent">
                        <!--begin:::Tab pane-->
                        <div class="tab-pane fade show active" id="dislikes" role="tabpanel">
                            {% if vote_list %}
                            <div class="card mb-5 mb-xxl-8">
                                <!--begin::Body-->
                                {% for vote, interest in vote_list %}
                                    <div class="card-body pb-0 border-bottom border-3">
                                        <!--begin::Header-->
                                        <div class="d-flex align-items-center mb-5">
                                            <!--begin::User-->
                                            <div class="d-flex align-items-center flex-grow-1">
                                                <!--begin::Avatar-->
                                                <div class="symbol symbol-45px me-5">
                                                    <img src="{% if vote.i_user.profile_picture %}{{ vote.i_user.profile_picture.url }}{% else %}{% static 'assets/media/misc/image.png' %}{% endif %}" alt="" />
                                                </div>
                                                <!--end::Avatar-->
                                                <!--begin::Info-->
                                                <div class="d-flex flex-column">
                                                    <a href="#" class="text-gray-900 text-hover-primary fs-6 fw-bold">{{ vote.i_user.get_name }}</a>
                                                    
                                                        <span class="text-gray-400 fw-bold">{% for data in interest.all %} {{ data }}, {% endfor %}</span>
                                                    
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                            <!--end::User-->
                                        </div>
                                        <!--end::Header-->
                                        <!--begin::Post-->
                                        <div class="mb-5">
                                            <!--begin::Text-->
                                            <p class="text-gray-800 fw-normal mb-5">Un-Voted  <a href="https://www.google.com/maps/place/?q=place_id:{{ vote.i_business.place_id }}" target="_blank" class="text-primary">{{ vote.i_business.name }}</a> at {{ vote.created_at }}</p>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Post-->
                                    </div>
                                {% endfor %}
                                <!--end::Body-->
                            </div>
                            {% else %}
                            <span class="fs-5 text-center d-block mt-5 mb-5">No Votes Found</span>
                            {% endif %}
                        </div>
                    </div>
                    <!--end:::Tab content-->
                </div>

                <div class="col-xl-12">
                    <nav>
                      {% if pagination.has_other_pages %}
                      <ul class="pagination justify-content-end pagination-primary">
                        {% if pagination.has_previous %}
                        <li class="page-item"><a class="page-link" href="{% if search %}?page={{ pagination.previous_page_number }}&search={{ search }}{% else %}?page={{ pagination.previous_page_number }}{% endif %}" tabindex="-1"><i class="previous"></i></a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="previous"></i></a></li>
                        {% endif %}
                        {% for i in pagination.paginator.page_range %}
                          {% if pagination.number == i %}
                            <li class="page-item active"><a class="page-link">{{ i }}<span class="sr-only">(current)</span></a></li>
                          {% elif i > pagination.number|add:'-3' and i < pagination.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="{% if search %}?page={{ i }}&search={{ search }}{% else %}?page={{ i }}{% endif %}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if pagination.has_next %}
                        <li class="page-item"><a class="page-link" href="{% if search %}?page={{ pagination.next_page_number }}&search={{ search }}{% else %}?page={{ pagination.next_page_number }}{% endif %}" tabindex="-1"><i class="next"></i></a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="next"></i></a></li>
                        {% endif %}
                      </ul>
                      {% endif %}
                    </nav>
                </div>
            </div>
            <!--begin::Body-->
        </div>

    </div>
</div>


{% endblock %}

{% block extra_script %}

{% endblock %}