{% extends "base.html" %}
{% load static %}
{% load generic %}

{% block page_content %}

<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card mt-10 mb-5 mb-xl-8">
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold fs-3 mb-1">{{current_language|keyvalue:"Disclaimer"}}</span>
                    <span class="text-muted mt-1 fw-semibold fs-7">{{ current_language.disclaimer_tagline }}</span>
                </h3>
            </div>
            <div class="card-body py-3">
                <div class="p-4" name="editable" data-placeholder="Enter Disclaimer">
                    {{ disclaimer }}
                </div>
            </div>
            <div class="card-footer text-center" style="display: flow-root; background: #ffffff;">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" id="id_disclaimer" {% if request.user.lang_code == 1 %}  name="disclaimer" {% else %}  name="disclaimer_ar" {% endif %}>
                <input type="submit" class="btn btn-primary" value="{{ current_language.save_btn_text }}">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block extra_script %}

<script src="https://cdn.ckeditor.com/4.15.1/full/ckeditor.js"></script>

<script>

    CKEDITOR.replace( 'editable' );

    var disclaimer = "{{ disclaimer|escapejs }}";
    CKEDITOR.instances["editor1"].setData(disclaimer);

    $("input[type='submit']").on("click", function () {
        var content = CKEDITOR.instances["editor1"].getData();
        $("#id_disclaimer").val(content);
        return true
    });

</script>


{% endblock %}