{% extends 'base.html' %}
{% load static %}
{% load generic %}
{% block page_content %}

<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card mt-10 mb-5 mb-xl-8">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold fs-3 mb-1">{{ current_language.Categories }}</span>
                    <span class="text-muted mt-1 fw-semibold fs-7">{{ current_language.categories_tagline }}</span>
                </h3>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body py-3">
                <!--begin::Table container-->
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                        {% if not categories_list %}
                            <p class="text-center">{{ current_language.no_category }}</p>
                        {% else %}
                            <!--begin::Table head-->
                            <thead>
                                <tr class="fw-bold text-muted">
                                    <th class="min-w-50px">{{ current_language.serial_number }}</th>
                                    <th class="min-w-100px">{{ current_language.image }}</th>
                                    <th class="min-w-100px">{{ current_language.name }}</th>
                                    <th class="min-w-100px">{{ current_language.status }}</th>
                                    <th class="min-w-100px">{{ current_language.actions }}</th>
                                </tr>
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody>
                                {% for category in categories_list %}
                                    <tr>
                                        <td>
                                            <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                            <span class="fw-semibold  d-block fs-7">{{ forloop.counter }}</span>
                                        </td>

                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-45px me-5">
                                                    <img src="{% if category.image %}{{ category.image.url }}{% else %}{% static 'assets/media/misc/image.png' %}{% endif %}" alt="">
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-6"></a>
                                            <span class="fw-semibold  d-block fs-7">{% if request.user.lang_code == 1 %} {{ category.name }} {% else %} {{ category.name_ar }} {% endif %}</span>
                                        </td>
                                        
                                        {% if category.is_active %}
                                            <td>
                                                <span class="fw-semibold  d-block fs-7" style="color:#50cd89">{{ current_language.active }}</span>
                                            </td>
                                        {% else %}
                                            <td>
                                                <span class="fw-semibold  d-block fs-7" style="color:#f1416c">{{ current_language.inactive }}</span>
                                            </td>
                                        {% endif %}

                                        <td>
                                            <div class="justify-content-between flex-shrink-0">
                                                <a href="{{ category.get_edit_url }}" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                    <i data-feather="edit" data-toggle="tooltip" data-placement="top" title="{{ current_language.edit_text }} {% if request.user.lang_code == 1 %} {{ category.name }} {% else %} {{ category.name_ar }} {% endif %}"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <!--end::Table body-->
                        {% endif %}
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Table container-->
            </div>
            <!--begin::Body-->
        </div>
    </div>
    <!--end::Content container-->
</div>


{% endblock %}

{% block extra_script %}

{% endblock %}