{% load generic %}
{% load static %}

<!-- <div class="row">
    <div class="col-12">
        <div class="iq-card">
            <div class="iq-card-header">
                <h4>Delete <em><strong>"{{ object.name }}"</strong></em></h4>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="iq-card-body">
                    {% csrf_token %}
                    <p>Are you sure you want to delete "{{ object.name }}"?</p>
                </div>
                <div class="card-footer text-right">
                    <a href="{{ RETURN_URL }}" class="btn btn-primary">Back</a>
                    <input type="submit" value="delete" class="btn btn-danger">
                </div>
            </form>
        </div>
    </div>
</div> -->

    <!--begin::Card header-->
    <div class="card-header cursor-pointer">
        <!--begin::Card title-->
        <div class="card-title m-0">
        <h3 class="fw-bold m-0">Delete <em><strong>"{{ object.name }}"</strong></em></h3>
        </div>
        <!--end::Card title-->
    </div>
    <!--begin::Card header-->

    <!--begin::Form-->
    <form class="form w-100" method="POST" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off">
        <!--begin::Card body-->
        <div class="card-body p-9">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"? This action can't be undo.</p>
        </div>
        <!--end::Card body-->
        <!--begin::Card Footer-->
        <div class="card-footer text-right">
            <a href="{{ RETURN_URL }}" class="btn btn-primary">Back</a>
            <input type="submit" value="delete" class="btn btn-danger">
        </div>
        <!--end::Card Footer-->
    </form>
    <!--end::Form-->