{% load generic %}
{% load static %}

<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=color] {
    height: 50px;
    width: 100px;
    cursor: pointer;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  input[type=file]{
    padding: 4px;
  }

  .image_outer {
      text-align: center;
      cursor: pointer;
  }

  .dragBox {
      display: block;
      transition: transform 0.3s;
      height: auto;
      border: 1px #dadce6 dashed;
      box-sizing: border-box;
      border-radius: 10px;
  }

  .dragBox img {
      width: 48px;
      height: 41px;
      margin-top: 25px;
  }

  .dragBox h1 {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #5e6278;
      font-weight: bold;
      margin-right: auto;
      margin-left: auto;
      display: block;
      margin-top: 25px;
  }

  .dragBox p {
      width: 113px;
      height: 18px;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #C1C1C1;
      font-weight: bold;
      margin-right: auto;
      margin-left: auto;
      display: block;
      margin-top: 0px;
  }

  .dragBox input[type="file"] {
      position: relative;
      height: 100%;
      width: 100%;
      opacity: 0;
      top: -30px;
      left: 0;
      cursor: pointer;
  }

  .draging {
      transform: scale(1.1);
      background-color: #edeef4;
  }

  #password1_icon {
    float: right;
    margin-top: -33px;
    margin-right: 10px;
    position: relative;
    /* z-index: 2; */
    font-size: 20px;
    color: #193a83;
    cursor: pointer;
  }
  #password2_icon {
    float: right;
    margin-top: -33px;
    margin-right: 10px;
    position: relative;
    /* z-index: 2; */
    font-size: 20px;
    color: #193a83;
    cursor: pointer;
  }

  .btn.btn-primary {
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .iti {
    position: relative;
    display: block !important;
  }

  .image_container {
      max-width: 800px;
      max-height: 450px;
  }

  #removeImage {
    position: relative;
    left: calc(100% - 12px);
    bottom: 115px;
    font-size: 14px;
    border: 1px solid #cdced2;
    border-radius: 75px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: linear-gradient(90deg, rgba(106,174,255,1) 1%, rgba(127,155,254,1) 30%, rgba(166,122,253,1) 70%);
    color: #ffff;
    cursor: pointer;
  }

  #removeImage i {
    line-height: 1;
    font-size: 16px;
    color: #fff;
  }
</style>

<!--begin::Card header-->
  <div class="card-header cursor-pointer">
    <!--begin::Card title-->
    <div class="card-title m-0">
      <h3 class="fw-bold m-0">{{ form_heading }}</h3>
    </div>
    <!--end::Card title-->
  </div>
  <!--begin::Card header-->
  <!--begin::Card body-->
  <div class="card-body p-9">
    <!--begin::Form-->
    <form class="form w-100" method="POST" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off">
      {% csrf_token %}
      
      <div class="row">
        {% for field in form.visible_fields %}

        <div class="col-sm-6 col-md-6">
          <div class="form-group mb-3">
            <label class="form-label">{{ field.label }}</label>
            {% if field.field.required == True%}<label style="color: red;">*</label>
            {% endif %}
            {% if field.field.widget.input_type == 'select' %}
            {{ field }}
            {% elif field.field.widget.input_type == 'file' and not field.field.widget.attrs.multiple %}
            <br />
              {% for f in field %}
                <div class="image_outer">
                  <span class="dragBox">
                      <img id="image" src="{% if f.data.value  %}{{ f.data.value.url }}{% else %}{% static 'assets/media/images/image.png' %}{% endif %}" {% if f.data.value  %}style="width:100px;height:100px"{% endif %} {% if f.data.value %}value="{{ f.data.value }}"{% endif %}>
                      <input type="hidden" id="image_value" {% if f.data.value %}value="{{ f.data.value }}"{% endif %} >
                      <h1>Select or Drop your image here</h1>
                      <input type="file" onchange="dragNdrop(event)" ondragover="drag('id_{{ field.name }}')" ondrop="drop('id_{{ field.name }}')" name="{{ field.name }}" id="id_{{ field.name }}" {% if field.field.widget.attrs.accept %}accept="{{field.field.widget.attrs.accept}}"{% endif %} {% if field.value %}value="{{ field.value }}"{% endif %} />
                    </span>
                </div>
              {% endfor %}

            
            {% elif field.field.widget.input_type == 'file' and field.field.widget.attrs.multiple %}
            <br />
              {% for f in field %}
                <div class="image_outer">
                  <span class="dragBox">
                      <img src="{% if f.data.value  %}{{ f.data.value.url }}{% else %}{% static 'assets/media/images/image.png' %}{% endif %}" {% if f.data.value  %}style="width:100px;height:100px"{% endif %} {% if f.data.value %}value="{{ f.data.value }}"{% endif %}>
                      <input type="hidden" id="image_value" {% if f.data.value %}value="{{ f.data.value }}"{% endif %} >
                      <h1>Select or Drop your image here</h1>
                      <input type="file" onchange="dragNdrop(event)" ondragover="drag('id_{{ field.name }}_multiple')" ondrop="drop('id_{{ field.name }}_multiple')" name="{{ field.name }}" id="id_{{ field.name }}_multiple" {% if field.field.widget.attrs.accept %}accept="{{field.field.widget.attrs.accept}}"{% endif %} {% if field.value %}value="{{ field.value }}"{% endif %} {% if field.field.widget.attrs.multiple %} multi="{{field.field.widget.attrs.multiple}}" {% endif %} />
                    </span>
                </div>
              {% endfor %}
            
            <div class="row preview_content_images">
              {% if images %}
                {% for image in images %}
                  <div class="col-3 mt-5 mb-5">
                    <img id="image" class="mb-2" src="{{ image.image.url }}" style="width:100%;height:100px;"> 
                    <a href="javascript:void();" id="removeImage" onclick="removeImage(this, '{{ forloop.counter0 }}', '{{ image.id }}')"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
            

            {% elif field.field.widget.input_type == 'time' %}
            {{ field }}

            {% elif field.field.widget.input_type == 'checkbox' %}

            <ul>
              <div class="row" id="id_{{ field.name }}">
                {% for f in field %}
                    <div class="col-sm-6 col-md-6">
                        <li>
                          <input type="checkbox" name="{{ f.data.name }}" value="{{ f.data.value }}" id="{{ f.data.attrs.id }}"
                            {% if f.data.selected %} checked {% endif %} class="form-check-input" />
                          <label>{{ f.data.label }}</label>
                        </li>

                    </div>
                {% endfor %}

              </div>
            </ul>

            {% elif field.field.widget.input_type == 'password' %}

            <input type="{{ field.field.widget.input_type }}" placeholder="Enter {{ field.label }} here"
              class="form-control form-control-user" id="id_{{ field.name }}" name="{{ field.name }}"
              value="{% if field.value and field.field.widget.input_type != 'date' %}{{ field.value }}{% elif field.field.widget.input_type == 'date' and field.value %}{#{{ field.value|date:'Y-m-d' }}#}{{field.value|format_date}}{% endif %}"
              autocomplete="new-password" {% if field.field.required %} required {% endif %} {% if field.field.disabled %}
              readonly {% endif %}>
            
            <img toggle="#password-field" id="{{ field.name }}_icon" src="{% static 'assets/media/icons/eye.svg' %}" onclick="togglePassword('{{ field.name }}_icon', 'id_{{ field.name }}')">

            {% elif field.field.widget.input_type == "text" or field.field.widget.input_type == "email" or field.field.widget.input_type == "date" or field.field.widget.input_type == "number" %}

            <input type="{{ field.field.widget.input_type }}" placeholder="Enter {{ field.label }} here"
              class="form-control form-control-user" id="id_{{ field.name }}" name="{{ field.name }}"
              value="{% if field.value and field.field.widget.input_type != 'date' %}{{ field.value }}{% elif field.field.widget.input_type == 'date' and field.value %}{#{{ field.value|date:'Y-m-d' }}#}{{field.value|format_date}}{% endif %}"
              autocomplete="new-password" {% if field.field.required %} required {% endif %} {% if field.field.disabled %}
              disabled {% endif %} {% if field.field.disabled %} readonly {% endif %}>

            {% elif field.field.widget.input_type == "color" %}

              <input type="{{ field.field.widget.input_type }}" placeholder="Enter {{ field.label }} here"
                class="form-control" id="id_{{ field.name }}" name="{{ field.name }}"
                value="{% if field.value and field.field.widget.input_type != 'date' %}{{ field.value }}{% elif field.field.widget.input_type == 'date' and field.value %}{#{{ field.value|date:'Y-m-d' }}#}{{field.value|format_date}}{% endif %}"
                autocomplete="new-password" {% if field.field.required %} required {% endif %} {% if field.field.disabled %}
                disabled {% endif %} {% if field.field.disabled %} readonly {% endif %}>

            {% else %}
            <textarea
              placeholder="{% if field.field.widget.attrs.placeholder %}{{ field.field.widget.attrs.placeholder }}{% else %}Enter {{ field.label }} here{% endif %}"
              class="form-control" id="id_{{ field.name }}" cols="{{field.field.widget.attrs.cols}}"
              rows="3" name="{{ field.name }}" {% if field.field.required %}
              required {% endif %} {% if field.field.disabled %} readonly {% endif %}
              {% if field.field.widget.attrs.disabled %} disabled="true"
              {% endif %} style="line-height: 22px;">{% if field.value %}{{ field.value }}{% endif %}</textarea>

            {% endif %}

            {% if field.errors %}
            {% for error in field.errors %}
            <div class="text-center" style="color: red;">
              {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>

        {% endfor %}

      </div>
      
      {% for hidden in form.hidden_fields %}
      {{ hidden }}

      {% if hidden.errors %}
      {% for error in hidden.errors %}
      <div class="text-center" style="color: red;">
        {{ error|escape }}
      </div>
      {% endfor %}
      {% endif %}
      {% endfor %}

      <!--begin::Submit button-->
      <div class="d-grid mt-10 mb-10">
          <button type="submit" class="btn btn-primary">
              <!--begin::Indicator label-->
              <span class="indicator-label">{{ button_text }}</span>
              <!--end::Indicator label-->
              <!--begin::Indicator progress-->
              <span class="indicator-progress">Please wait...
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
              <!--end::Indicator progress-->
          </button>
      </div>
      <!--end::Submit button-->
    </form>
    <!--end::Form-->
  </div>
<!--end::Card body-->

<script>
  var cropper;
  var counter = 0;
  var files = [];
  var image_urls = eval('{{images_list|escapejs}}') || [];
  var csrf_token = "{{ csrf_token }}";
  var url = "{% url 'remove_image' %}";
  var remove_image_ids = [];
  

  function togglePassword(icon, pass_field) {
      var id = document.getElementById(pass_field);
      if (id.type === "password") {
          id.type = "text";
          $('#'+icon).attr("src", "{% static 'assets/media/icons/eye-off.svg' %}");
      } else {
          id.type = "password";
          $('#'+icon).attr("src", "{% static 'assets/media/icons/eye-off.svg' %}");
          $('#'+icon).attr("src", "{% static 'assets/media/icons/eye.svg' %}");
      }
  }

  function dragNdrop(event) {
    
    var fileName = URL.createObjectURL(event.target.files[0]);
    
    $("#image_cropper_modal").modal('show');
    

    if (event.target.files && event.target.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#image_cropper_container').attr('src', e.target.result)
        };
        reader.readAsDataURL(event.target.files[0]);
        setTimeout(() => {
          initCropper(event);
        }, 1000);
    }
  }

  function drag(id) {
      document.getElementById(id).parentNode.className = 'draging dragBox';
  }

  function drop(id) {
      document.getElementById(id).parentNode.className = 'dragBox';
  }

  function initCropper(event) {
      var image = document.getElementById('image_cropper_container');
      cropper = new Cropper(image, {
          viewMode: 1,
          dragMode: 'none',
          // minCropBoxWidth: 105,
          // minCropBoxHeight: 105,
          // cropBoxResizable: false,
          // aspectRatio: 16 / 9,
          crop: function (e) {
          }
      });

    // On crop button clicked
    document.getElementById('crop_button').addEventListener('click', function () {
    
      if(!event.target.getAttribute('multi')){
        var imgurl = cropper.getCroppedCanvas().toDataURL();
        var Img = document.getElementById("image");
        Img.setAttribute("src", imgurl);
        Img.style.width = '100px';
        Img.style.height = '100px';

        $("#image_cropper_modal").modal('hide');

        cropper.getCroppedCanvas().toBlob(function (blob) {
          // Get a reference to our file input
          var fileInput = document.getElementById(event.target.id);

          // Create a new File object
          var myFile = new File([blob], 'image.jpg', {
              type: 'image/jpeg',
              lastModified: new Date(),
          });

          // Now let's create a DataTransfer to get a FileList
          const dataTransfer = new DataTransfer();
          dataTransfer.items.add(myFile);
          fileInput.files = dataTransfer.files;
        })

        cropper.destroy();
      }
      else{
        var imgurl = cropper.getCroppedCanvas().toDataURL();
        $(".preview_content_images").append(`
          <div class="col-3 mt-5 mb-5">
            <img id="image" class="mb-2" src="${imgurl}" style="width:100%;height:100px;"> 
            <a href="javascript:void();" id="removeImage" onclick="removeImage(this, ${counter}, '')"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
        `)
        counter++;
        
        $("#id_images_multiple").removeAttr('required');
        $("#image_cropper_modal").modal('hide');

        cropper.getCroppedCanvas().toBlob(function (blob) {
          // Create a new File object
          var date = new Date();
          var myFile = new File([blob], event.target.files[0].name, {
              type: 'image/jpeg',
              lastModified: new Date(),
          });

          files.push(myFile)

          // Get a reference to our file input
          var fileInput = document.getElementById(event.target.id);
          // Now let's create a DataTransfer to get a FileList
          const dataTransfer = new DataTransfer();
          for (file in files) {  
            dataTransfer.items.add(files[file]);
          }
          fileInput.files = dataTransfer.files;
        })

        cropper.destroy();
      }
    })

    $("#image_cropper_modal").on("hidden.bs.modal", function () {
      cropper.destroy();
    });

  }

  function removeImage(event, index, id){
    event.parentElement.remove();
    files.splice(index, 1);
    image_urls.splice(index, 1);
    counter--

    try{
      remove_image_ids.push(id);

      $.ajax({
          url: url,
          type: 'POST',
          data: {
              'image_id': remove_image_ids.toString(),
              "csrfmiddlewaretoken": csrf_token
          },
          success: function(response) {
          },
          catch: function(error){
            console.log(error.text)
          }
      });
    }
    catch(e){}

    if(image_urls.length < 1){
      $("#id_images_multiple").attr('required', true);
    }
  }

  setTimeout(() => {
    if(image_urls.length < 1){
      $("#id_images_multiple").attr('required', true);
    }
    counter = image_urls.length;
    
  }, 1000);

</script>
