{% load generic %}
{% load static %}

<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  input[type=file]{
    padding: 4px;
  }

  .image_outer {
      text-align: center;
      cursor: pointer;
  }

  .dragBox {
      display: block;
      transition: transform 0.3s;
      height: auto;
      border: 1px #dadce6 dashed;
      box-sizing: border-box;
      border-radius: 10px;
  }

  .dragBox img {
      width: 48px;
      height: 41px;
      margin-top: 25px;
  }

  .dragBox h1 {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #5e6278;
      font-weight: bold;
      margin-right: auto;
      margin-left: auto;
      display: block;
      margin-top: 25px;
  }

  .dragBox p {
      width: 113px;
      height: 18px;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #C1C1C1;
      font-weight: bold;
      margin-right: auto;
      margin-left: auto;
      display: block;
      margin-top: 0px;
  }

  .dragBox input[type="file"] {
      position: relative;
      height: 100%;
      width: 100%;
      opacity: 0;
      top: -30px;
      left: 0;
      cursor: pointer;
  }

  .draging {
      transform: scale(1.1);
  }

  #password1_icon {
    float: right;
    margin-top: -33px;
    margin-right: 10px;
    position: relative;
    /* z-index: 2; */
    font-size: 20px;
    color: #193a83;
    cursor: pointer;
  }
  #password2_icon {
    float: right;
    margin-top: -33px;
    margin-right: 10px;
    position: relative;
    /* z-index: 2; */
    font-size: 20px;
    color: #193a83;
    cursor: pointer;
  }
</style>

<!--begin::Form-->
<form class="form w-100" method="POST" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off">
  {% csrf_token %}
  <!--begin::Heading-->
  <div class="text-center mb-11">
    {% if form_heading %}
      <!--begin::Title-->
      <h1 class="text-dark fw-bolder mb-3">{{ form_heading }}</h1>
      <!--end::Title-->
    {% endif %}

    {% if form_sub_heading %}
      <!--begin::Subtitle-->
      <div class="text-gray-500 fw-semibold fs-6">{{ form_sub_heading }}</div>
      <!--end::Subtitle=-->
    {% endif %}
  </div>
  <!--begin::Heading-->
  <div class="row">
    {% for field in form.visible_fields %}

    <div class="col-sm-6 col-md-6">
      <div class="form-group mb-3">
        <label class="form-label">{{ field.label }}</label>
        {% if field.field.required == True%}<label style="color: red;">*</label>
        {% endif %}
        {% if field.field.widget.input_type == 'select' %}
        {{ field }}
        {% elif field.field.widget.input_type == 'file' %}
        <br />
          {% for f in field %}
            <div class="image_outer">
              <span class="dragBox">
                  <img id="image" src="{% if f.data.value  %}{{ f.data.value.url }}{% else %}{% static 'assets/media/images/image.png' %}{% endif %}" {% if f.data.value  %}style="width:100px;height:100px"{% endif %}>
                  <h1>Drop your image here</h1>
                  <input type="file" onchange="dragNdrop(event)"  ondragover="drag('id_{{ field.name }}')" ondrop="drop('id_{{ field.name }}')" name="{{ field.name }}" id="id_{{ field.name }}" {% if field.field.widget.attrs.accept %}accept="{{field.field.widget.attrs.accept}}"{% endif %} />
                </span>
            </div>
          {% endfor %}

        {% elif field.field.widget.input_type == 'time' %}
        {{ field }}

        {% elif field.field.widget.input_type == 'checkbox' %}

        <ul>
          <div class="row" id="id_{{ field.name }}">
            {% for f in field %}
              
                <div class="col-sm-6 col-md-6">
                    <li>
                      <input type="checkbox" name="{{ f.data.name }}" value="{{ f.data.value }}" id="{{ f.data.attrs.id }}"
                        {% if f.data.selected %} checked {% endif %} class="form-check-input" />
                      <label>{{ f.data.label }}</label>
                    </li>

                </div>
              
            {% endfor %}

          </div>
        </ul>

        {% elif field.field.widget.input_type == 'password' %}

        <input type="{{ field.field.widget.input_type }}" placeholder="Enter {{ field.label }} here"
          class="form-control form-control-user" id="id_{{ field.name }}" name="{{ field.name }}"
          value="{% if field.value and field.field.widget.input_type != 'date' %}{{ field.value }}{% elif field.field.widget.input_type == 'date' and field.value %}{#{{ field.value|date:'Y-m-d' }}#}{{field.value|format_date}}{% endif %}"
          autocomplete="new-password" {% if field.field.required %} required {% endif %} {% if field.field.disabled %}
          readonly {% endif %}>
        
        <img toggle="#password-field" id="{{ field.name }}_icon" src="{% static 'assets/media/icons/eye.svg' %}" onclick="togglePassword('{{ field.name }}_icon', 'id_{{ field.name }}')">

        {% else %}

        <input type="{{ field.field.widget.input_type }}" placeholder="Enter {{ field.label }} here"
          class="form-control form-control-user" id="id_{{ field.name }}" name="{{ field.name }}"
          value="{% if field.value and field.field.widget.input_type != 'date' %}{{ field.value }}{% elif field.field.widget.input_type == 'date' and field.value %}{#{{ field.value|date:'Y-m-d' }}#}{{field.value|format_date}}{% endif %}"
          autocomplete="new-password" {% if field.field.required %} required {% endif %} {% if field.field.disabled %}
          readonly {% endif %}>

        {% endif %}

        {% if field.errors %}
        {% for error in field.errors %}
        <div class="text-center" style="color: red;">
          {{ error|escape }}
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>

    {% endfor %}

  </div>
  
  {% for hidden in form.hidden_fields %}
  {{ hidden }}

  {% if hidden.errors %}
  {% for error in hidden.errors %}
  <div class="text-center" style="color: red;">
    {{ error|escape }}
  </div>
  {% endfor %}
  {% endif %}
  {% endfor %}

  <!--begin::Submit button-->
  <div class="d-grid mt-10 mb-10">
      <button type="submit" class="btn btn-primary">
          <!--begin::Indicator label-->
          <span class="indicator-label">{{ button_text }}</span>
          <!--end::Indicator label-->
          <!--begin::Indicator progress-->
          <span class="indicator-progress">Please wait...
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
          <!--end::Indicator progress-->
      </button>
  </div>
  <!--end::Submit button-->
</form>
<!--end::Form-->

<script>
  function togglePassword(icon, pass_field) {
      var id = document.getElementById(pass_field);
      if (id.type === "password") {
          id.type = "text";
          $('#'+icon).attr("src", "{% static 'assets/media/icons/eye-off.svg' %}");
      } else {
          id.type = "password";
          $('#'+icon).attr("src", "{% static 'assets/media/icons/eye-off.svg' %}");
          $('#'+icon).attr("src", "{% static 'assets/media/icons/eye.svg' %}");
      }
  }

  function dragNdrop(event) {
    var fileName = URL.createObjectURL(event.target.files[0]);
    var Img = document.getElementById("image");
    Img.setAttribute("src", fileName);
    Img.style.width = '100px';
    Img.style.height = '100px';
  }

  function drag(id) {
      document.getElementById(id).parentNode.className = 'draging dragBox';
  }

  function drop(id) {
      document.getElementById(id).parentNode.className = 'dragBox';
  }

</script>
